<template>
  <div class="layout--main">

    <div id="content-area">
      <div id="content-overlay" />

    
    <!-- Navbar -->
    <template>
      <the-navbar
        :navbarType= "navbarType"
        :menus= "navMenuItems"
        :class="[
          {'text-white' : false},
          {'text-base'  : true},
          {'left' : true}
        ]" />

      <div style="height: 62px" v-if="navbarType === 'static'"></div>

      
    </template>

    <!-- /Navbar -->

      <div class="content-wrapper">

        <div class="router-view">
          <div class="router-content">

            <transition :name="routerTransition">

              <div v-if="$route.meta.breadcrumb || $route.meta.pageTitle" class="router-header flex flex-wrap items-center mb-6">
                <div
                  class="content-area__heading"
                  :class="{'pr-4 border-0 md:border-r border-solid border-grey-light' : $route.meta.breadcrumb}">
                  <h2 class="mb-1">{{ (routeTitle) }}</h2>
                </div>

                <!-- BREADCRUMB -->
                <vx-breadcrumb class="ml-4 md:block hidden" v-if="$route.meta.breadcrumb" />

                <!-- DROPDOWN -->
                <vs-dropdown vs-trigger-click class="ml-auto md:block hidden cursor-pointer">
                  <vs-button radius icon="icon-settings" icon-pack="feather" />

                  <vs-dropdown-menu class="w-32">
                    <vs-dropdown-item>
                      <div @click="$router.push('/profile').catch(() => {})" class="flex items-center">
                        <feather-icon icon="UserIcon" class="inline-block mr-2" svgClasses="w-4 h-4" />
                        <span>Profile</span>
                      </div>
                    </vs-dropdown-item>
                    <vs-dropdown-item>
                      <div @click="$router.push('/apps/todo').catch(() => {})" class="flex items-center">
                        <feather-icon icon="CheckSquareIcon" class="inline-block mr-2" svgClasses="w-4 h-4" />
                        <span>Tasks</span>
                      </div>
                    </vs-dropdown-item>
                    <vs-dropdown-item>
                      <div @click="$router.push('/apps/email').catch(() => {})" class="flex items-center">
                        <feather-icon icon="MailIcon" class="inline-block mr-2" svgClasses="w-4 h-4" />
                        <span>Inbox</span>
                      </div>
                    </vs-dropdown-item>
                  </vs-dropdown-menu>

                </vs-dropdown>

              </div>
            </transition>

            <div class="content-area__content">

              <back-to-top bottom="5%" :right="$vs.rtl ? 'calc(100% - 2.2rem - 38px)' : '30px'" visibleoffset="500">
                <vs-button icon-pack="feather" icon="icon-arrow-up" class="shadow-lg btn-back-to-top" />
              </back-to-top>

              <router-view  @changeRouteTitle="changeRouteTitle" @setAppClasses="(classesStr) => $emit('setAppClasses', classesStr)" @update_nav_menu="(fn) => fn(navMenuItems)" />
              <page :data="page_data" ></page>
              
            </div>
          </div>
        </div>
      </div>
      <the-footer :menus="footerMenuItems"/>
    </div>
  </div>
</template>


<script>
import BackToTop           from 'vue-backtotop'
import TheNavbar           from '@/front/components/TheNavbar.vue'
import TheFooter           from '@/front/components/TheFooter.vue'
import Page           from '@/front/Page.vue'

import axios from '@/http/axios/index.js'

// Store Module
import moduleCms from '@/store/cms/moduleCms.js'

export default {
  components: {
    BackToTop,
    TheFooter,
    TheNavbar,
    Page
  },
  data () {
    return {
      navbarType        : 'floating',
      dynamicWatchers   : {},
      navMenuItems      : [],
      footerMenuItems   : [],
      routerTransition  : 'none',
      routeTitle        : this.$route.meta.pageTitle,
      url               : null,
      page_data         : null,
    }
  },
  watch: {
    '$route' () {
      if(typeof this.$route.params.url == 'undefined')
      {
        return
      }
      this.routeTitle = this.$route.meta.pageTitle
      let _url = this.$route.params.url.split('/')
      if(_url.length>0)
      {
        this.url = _url[_url.length-1]
        this.fetch_page_data()
      }
    }
  },
  computed: {
    bodyOverlay () { return this.$store.state.bodyOverlay },
    isAppPage () {
      return this.$route.meta.no_scroll
    },
    windowWidth ()          { return this.$store.state.windowWidth }
  },
  methods: {
    changeRouteTitle (title) {
      this.routeTitle = title
    },
    updateRouterTransition (val) {
      this.routerTransition = val
    },
    toggleHideScrollToTop (val) {
      this.hideScrollToTop = val
    },
    fetch_page_data()
    {
      console.log(this.url)
      if(this.url == null) return
      this.$vs.loading()
      this.$store.dispatch('moduleCms/fetchFrontPage', this.url)
      .then(response => { 
        this.page_data = response.data
        this.$vs.loading.close()
      })
      .catch(error => {
        this.$vs.loading.close()
        if(error.response.status === 401)
        {
          this.$router.push('/not-authorized')
        }
        else
        {
          this.$router.push('/error-404')
        }
      })
    }
  },
  created () {
    if (!moduleCms.isRegistered) {
      this.$store.registerModule('moduleCms', moduleCms)
      moduleCms.isRegistered = true
    }
    var access_token = localStorage.getItem('access_token');
    axios.defaults.headers.common['Authorization'] = `Bearer ${access_token}`;
    // Dynamic Watchers for tour
    // Reason: Once tour is disabled it is not required to enable it.
    // So, watcher is required for just disabling it.
    this.dynamicWatchers.windowWidth = this.$watch('$store.state.windowWidth', (val) => {
      if (val < 1200) {
        this.dynamicWatchers.windowWidth()
      }
    })
    this.dynamicWatchers.rtl = this.$watch('$vs.rtl', () => {
      this.dynamicWatchers.rtl()
    })
    this.$store.dispatch('moduleCms/fetchFrontMenus')
      .then(() => { 
        this.navMenuItems = this.$store.state.moduleCms.front_menus.header
        this.footerMenuItems = this.$store.state.moduleCms.front_menus.footer
      })
      .catch(error => {
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Error',
          text: error.response.data.message,
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger'
        })
    })
    if(typeof this.$route.params.url != 'undefined')
    {
      this.routeTitle = this.$route.meta.pageTitle
      let _url = this.$route.params.url.split('/')
      if(_url.length>0)
      {
        this.url = _url[_url.length-1]
        this.fetch_page_data()
      }
    }
  },
  beforeDestroy () {
    Object.keys(this.dynamicWatchers).map(i => {
      this.dynamicWatchers[i]()
      delete this.dynamicWatchers[i]
    })
  }
}

</script>
