<template>
<div>
    <div class="mx-1" v-for="(shortcode, index) in shortcodes" :key="index">
        <div v-if="shortcode.type=='editor'">
            <div v-html="shortcode.content" :class="shortcode.classes"></div>
        </div>
        <div v-else-if="shortcode.type=='faq' && shortcode.content != null">
          <vs-collapse accordion>
            <vs-collapse-item v-for="(row, index) in shortcode.content" :key="index" class="relative">
                <div slot="header">
                  {{row.title}}
                </div>
                <div v-html="row.content"></div>
            </vs-collapse-item>
          </vs-collapse>
        </div>
        <div v-else-if="shortcode.type=='image' && shortcode.content != null">
          <img :src="'/storage/' + shortcode.content" class="object-cover w-full" />
        </div>
        <div v-else-if="shortcode.type=='hero' && shortcode.content != null">
          <img :src="'/storage/' + shortcode.content" class="object-cover w-full" />
        </div>
    </div>
</div>
</template>
<script>

export default {
  props: {
    shortcodes: {
      required: true,
      type: Array
    },
  },
  data () {
    return {
    }
  },
  components: {
  },
  name: "nested-shortcode",
  methods: {
  },
  computed: {
  },
  created () {
  }
};
</script>