<template>
  <div v-if="typeof data != 'undefined' && data!=null && typeof data.shortcodes != 'undefined'">
    <h4>{{data.name}}</h4>
    <vs-divider></vs-divider>
    <nested-shortcodes :shortcodes="data.shortcodes" :class="data.classes"></nested-shortcodes>
  </div>
</template>

<script>

// Store Module
import moduleCms from '@/store/cms/moduleCms.js'
import NestedShortcodes from './NestedShortcodes'

export default {
  components: {
    NestedShortcodes
  },
  props: {
    data: null,
  },
  created() {
    if (!moduleCms.isRegistered) {
      this.$store.registerModule('moduleCms', moduleCms)
      moduleCms.isRegistered = true
    }
  },
  data () {
    return {
      
    }
  },
  methods: {
  },
}
</script>
