<template>
    <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center pagina_simpla">
        <div class="vx-col w-10/12 m-4 p-2 ml-auto mr-auto">
            <h1>CREARE CONT</h1>
            <div class="contact-formular">
                <div class="xl:w-8/12 w-10/12 ml-auto mr-auto">
                    <register-jwt></register-jwt>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import RegisterJwt from './RegisterJWT.vue'

export default {
  components: {
    RegisterJwt
  },
  mounted() {
      //localStorage.removeItem('userInfo')
  }
}
</script>

<style lang="scss">
.register-tabs-container {
  min-height: 517px;

  .con-tab {
    padding-bottom: 23px;
  }
}
</style>
