<template>
  <div class="clearfix formular">
    <div class="centerx labelx">
      <vs-input
        icon-no-border
        icon-pack="fa"
        icon="fa-user"
        v-validate="'required|email'"
        data-vv-validate-on="blur"
        name="email"
        type="email"
        v-model="email"
        label="ADRESA EMAIL"
        class="w-full formular-entry" />
      <span class="formular-msg-eroare">{{ errors.first('email') }}</span>
    </div>

    <div class="centerx labelx">
      <vs-input
        ref="password"
        type="password"
        icon-no-border
        icon-pack="fa"
        icon="fa-lock"
        data-vv-validate-on="blur"
        v-validate="'required|min:8'"
        name="password"
        label="PAROLA"
        v-model="password"
        class="w-full formular-entry" />
      <span class="formular-msg-eroare">{{ errors.first('password') }}</span>
    </div>

    <div class="centerx labelx">
      <vs-input
        type="password"
        icon-no-border
        icon-pack="fa"
        icon="fa-lock"
        v-validate="'min:8|confirmed:password'"
        data-vv-validate-on="blur"
        data-vv-as="password"
        name="confirm_password"
        label="REPETA PAROLA"
        v-model="confirm_password"
        class="w-full formular-entry" />
      <span class="formular-msg-eroare">{{ errors.first('confirm_password') }}</span>

    </div>
    <div class="centerx labelx formular-entry-box formular-entry">
      <label>
        <input type="checkbox" v-model="isTermsConditionAccepted">
        <span>
          Sunt de acord cu bla bla si pentru ca am dat bifat aici pot apasa si butonul de trimite. 
          Sunt de acord cu bla bla si pentru ca am dat bifat aici pot apasa si butonul de trimite.
        </span>
      </label>
    </div>
    <div class="clearfix"></div>
    <button class="my-4 w-full btn-executa" @click="registerUserJWt" :disabled="!validateForm">creaza cont</button>

      <div class="formular-help">
        <router-link to="/faq">(nu te descurci - vezi indrumari)</router-link>
      </div>

  </div>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      password: '',
      confirm_password: '',
      isTermsConditionAccepted: true
    }
  },
  computed: {
    validateForm () {
      return !this.errors.any() && this.email !== '' && this.password !== '' && this.confirm_password !== '' && this.isTermsConditionAccepted === true
    }
  },
  methods: {
    checkLogin () {
      // If user is already logged in notify
      if (this.$store.state.auth.isUserLoggedIn()) {

        // Close animation if passed as payload
        // this.$vs.loading.close()

        this.$vs.notify({
          title: 'Login Attempt',
          text: 'You are already logged in!',
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'warning'
        })

        return false
      }
      return true
    },
    registerUserJWt () {
      // If form is not validated or user is already login return
      if (!this.validateForm || !this.checkLogin()) return

      this.$vs.loading()

      const payload = {
        userDetails: {
          email: this.email,
          password: this.password,
          confirmPassword: this.confirm_password
        },
        notify: this.$vs.notify
      }
      this.$store.dispatch('auth/registerUserJWT', payload).then(() => {
        this.$vs.loading.close()
        this.$vs.notify({
            title: 'Success',
            text: 'Please check your inbox and verify your email.',
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'success'
        })
      }).catch(error => {
        this.$vs.loading.close()
          this.$vs.notify({
            title: 'Error',
            text: error.response.data.message,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'danger'
          })
      });
    }
  }
}
</script>
