<!-- =========================================================================================
  File Name: UserEditTabInformation.vue
  Description: User Edit Information Tab content
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="user-edit-tab-info" v-if="data!=null">

    <!-- Avatar Row -->
    <div class="vx-row" v-if="data.id!=0">
      <div class="vx-col w-full">
        <div class="flex items-start flex-col sm:flex-row">
          <img :src="data.photo_url" class="mr-8 rounded h-24 w-24" />
          <!-- <vs-avatar :src="data.avatar" size="80px" class="mr-4" /> -->
          <div>
            <p class="text-lg font-medium mb-2 mt-4 sm:mt-0">{{ data.name  }}</p>
            <input type="file"  class="hidden" ref="update_avatar_input" @change="update_avatar" accept="image/*">

            <vs-button type="border" :disabled="!activeUserInfo.permissions.includes('edit_user')" class="mr-4" @click="$refs.update_avatar_input.click()">Change Avatar</vs-button>

            <vs-button type="border" :disabled="!activeUserInfo.permissions.includes('edit_user')" color="danger" @click="remove_avatar">Sterge Avatar</vs-button>
          </div>
        </div>
      </div>
    </div>

    <!-- Content Row -->
    <div class="vx-row">
      <div class="vx-col md:w-1/2 w-full">
        <vs-input class="w-full mt-4" :readonly="!activeUserInfo.permissions.includes('edit_user')" label="Name" v-model="data.name" v-validate="'required|alpha_spaces'" name="name" />
        <span class="text-danger text-sm"  v-show="errors.has('name')">{{ errors.first('name') }}</span>

        <vs-input class="w-full mt-4" :readonly="!activeUserInfo.permissions.includes('edit_user')" label="Email" v-model="data.email" type="email" v-validate="'required|email'" name="email" />
        <span class="text-danger text-sm"  v-show="errors.has('email')">{{ errors.first('email') }}</span>
      </div>

      <div class="vx-col md:w-1/2 w-full pb-8 z-20">

        <div class="mt-4" v-if="data.id!=0">
          <label class="vs-input--label">Status</label>
          <v-select v-model="status_local" :disabled="!activeUserInfo.permissions.includes('edit_user')" :clearable="false" :options="statusOptions" v-validate="'required'" name="status" :dir="$vs.rtl ? 'rtl' : 'ltr'" />
          <span class="text-danger text-sm"  v-show="errors.has('status')">{{ errors.first('status') }}</span>
        </div>
        <div class="mt-4" v-else>
          <vs-input :readonly="!activeUserInfo.permissions.includes('edit_user')" class="w-full mt-4" label="Password" v-model="data.password" type="password" v-validate="'required|min:8'" name="password" />
          
          <span class="text-danger text-sm">{{ errors.first('password') }}</span>
        </div>

        <div class="mt-4">
          <label class="vs-input--label">Rol</label>
          <v-select :disabled="!activeUserInfo.permissions.includes('edit_user')" v-model="role_local" :clearable="false" :options="roleOptions" v-validate="'required'" name="role" :dir="$vs.rtl ? 'rtl' : 'ltr'" />
          <span class="text-danger text-sm"  v-show="errors.has('role')">{{ errors.first('role') }}</span>
        </div>

      </div>
    </div>

  </div>
</template>

<script>
import vSelect from 'vue-select'

export default {
  components: {
    vSelect
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      statusOptions: [
        { label: 'Verificat',  value: 'verificat' },
        { label: 'Neverificat',  value: 'neverificat' },
        { label: 'Banned',  value: 'banned' },
      ]
    }
  },
  mounted() {
      console.log(this.data, 'edit')
  },
  computed: {
    roleOptions () {
      console.log(this.data.local_roles)
      return JSON.parse(JSON.stringify(this.data.local_roles))
    },
    status_local: {
      get () {
        return { label: this.capitalize(this.data.is_verified),  value: this.data.is_verified  }
      },
      set (obj) {
        this.data.is_verified = obj.value
      }
    },
    role_local: {
      get () {
        return { label: this.capitalize(this.data.user_role),  value: this.data.user_role  }
      },
      set (obj) {
        if(this.data.user_role == 'verified')
        {
          this.data.user_role == 'user'
        }
        else
        {
          this.data.user_role = obj.value
        }
      }
    },
    
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
  },
  methods: {
    capitalize (str) {
      return str.slice(0, 1).toUpperCase() + str.slice(1, str.length)
    },
    update_avatar (event) {
      var photo = event.target.files[0]
      var id = this.data.id
      const data = new FormData();
      data.append('photo', photo);
      data.append('id', id);
      this.$store.dispatch('userManagement/editUserAvatar', data)
      .then((data) => {
        this.$vs.loading.close()
        this.data.photo_url = data.data
      })
      .catch(error => {
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Error',
          text: error.response.data.message,
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger'
        })
      })
    },
    remove_avatar () {
      this.$store.dispatch('userManagement/removeUserAvatar', this.data.id)
      .then((data) => {
        this.$vs.loading.close()
        this.data.photo_url = data.data
      })
      .catch(error => {
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Error',
          text: error.response.data.message,
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger'
        })
      })
    }
  }
}
</script>
