<template>
  <div id="page-user-new">

    <vx-card v-if="user_data && activeUserInfo.permissions.includes('create_user')">

      <div slot="no-body" class="tabs-container px-6 pt-6">
        <vs-tabs v-model="activeTab" class="tab-action-btn-fill-conatiner">
          <vs-tab label="Account" icon-pack="feather" icon="icon-user">
            <div class="tab-text">
              <user-edit-tab-account class="mt-4" :data="user_data" />
            </div>
          </vs-tab>
          <vs-tab label="Informati" icon-pack="feather" icon="icon-info">
            <div class="tab-text">
              <user-edit-tab-information class="mt-4" :data="user_data" />
            </div>
          </vs-tab>
        </vs-tabs>
      </div>
      <vs-divider/>
      <!-- Save & Reset Button -->
      <div class="w-full">
        <div class="mt-8 flex flex-wrap items-center justify-end">
          <vs-button class="ml-auto mt-2" @click="save_changes" :disabled="!validateForm">Save Changes</vs-button>
          <vs-button class="ml-4 mt-2" type="border" color="warning" @click="reset_data">Reset</vs-button>
        </div>
      </div>
    </vx-card>
  </div>
</template>

<script>
import UserEditTabAccount     from './UserEditTabAccount.vue'
import UserEditTabInformation from './UserEditTabInformation.vue'

// Store Module
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'

export default {
  components: {
    UserEditTabAccount,
    UserEditTabInformation
  },
  data () {
    return {
      user_data: {
          id: 0,
          name: 'Full name',
          email: 'name.surname@example.com',
          status: 'offline',
          is_verified: "neverificat",
          user_role: 'user',
          local_roles: [
              {
                  label: 'User',
                  value: 'user'
              },
              {
                  label: 'Manager',
                  value: 'Manager'
              }
          ],
          password: '',
          gender: 0,
          active: 0,
          contact_options: [
              'email'
          ]
      },
      user_not_found: false,

      /*
        This property is created for fetching latest data from API when tab is changed

        Please check it's watcher
      */
      activeTab: 0
    }
  },
  watch: {
    activeTab () {
    }
  },
  methods: {
      
    save_changes () {
      /* eslint-disable */
      if (!this.validateForm) return
    // Loading
      this.$vs.loading()
     this.$store.dispatch('userManagement/createUser', this.user_data)
      .then(() => { 
        this.$vs.loading.close()
      })
      .catch(error => {
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Error',
          text: error.response.data.message,
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger'
        })
      })
    },
    reset_data () {
      this.user_data = JSON.parse(JSON.stringify(this.data))
    },
    validateForm () {
      return !this.errors.any()
    }
  },
  created () {
    // Register Module UserManagement Module
    if (!moduleUserManagement.isRegistered) {
      this.$store.registerModule('userManagement', moduleUserManagement)
      moduleUserManagement.isRegistered = true
    }
  },
  
  computed: {
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
  }
}

</script>
