<template>
  <div id="page-user-edit">

    <vs-alert color="danger" title="User Not Found" :active.sync="user_not_found">
      <span>User record with id: {{ $route.params.userId }} not found. </span>
      <span>
        <span>Check </span><router-link :to="{name:'page-user-list'}" class="text-inherit underline">All Users</router-link>
      </span>
    </vs-alert>

    <vx-card v-if="user_data!=null && activeUserInfo.permissions.includes('view_user') || activeUserInfo.permissions.includes('edit_user')">

      <div slot="no-body" class="tabs-container px-6 pt-6">
        <vs-tabs v-model="activeTab" class="tab-action-btn-fill-conatiner">
          <vs-tab label="Account" icon-pack="feather" icon="icon-user">
            <div class="tab-text">
              <user-edit-tab-account class="mt-4" :data="user_data" />
            </div>
          </vs-tab>
          <vs-tab label="Informati" icon-pack="feather" icon="icon-info">
            <div class="tab-text">
              <user-edit-tab-information class="mt-4" :data="user_data" />
            </div>
          </vs-tab>
        </vs-tabs>
      </div>
      <vs-divider/>
      <!-- Save & Reset Button -->
      <div class="w-full">
        <div class="mt-8 flex flex-wrap items-center justify-end" v-if="activeUserInfo.permissions.includes('edit_user')">
          <vs-button class="ml-auto mt-2" @click="save_changes" :disabled="!validateForm">Save Changes</vs-button>
          <vs-button class="ml-4 mt-2" type="border" color="warning" @click="reset_data">Reset</vs-button>
        </div>
      </div>
    </vx-card>
  </div>
</template>

<script>
import UserEditTabAccount     from './UserEditTabAccount.vue'
import UserEditTabInformation from './UserEditTabInformation.vue'

// Store Module
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'

export default {
  components: {
    UserEditTabAccount,
    UserEditTabInformation
  },
  data () {
    return {
      user_data: null,
      user_not_found: false,

      /*
        This property is created for fetching latest data from API when tab is changed

        Please check it's watcher
      */
      activeTab: 0
    }
  },
  watch: {
    activeTab () {
      if(typeof this.$route.params.userId === 'undefined' || this.$route.params.userId == '')
      {
        this.fetch_user_data(this.$store.state.AppActiveUser.id)
      }
      else
      {
        this.fetch_user_data(this.$route.params.userId)
      }
    }
  },
  methods: {
    fetch_user_data (userId) {
      this.$store.dispatch('userManagement/fetchUser', userId)
        .then(res => { this.user_data = res.data })
        .catch(err => {
          if (err.response.status === 404) {
            this.user_not_found = true
            return
          }
          console.error(err) 
        })
    },
    
    save_changes () {
      /* eslint-disable */
      if (!this.validateForm) return
    // Loading
      this.$vs.loading()
     this.$store.dispatch('userManagement/editUser', this.user_data)
      .then(() => { 
        this.$vs.loading.close()
      })
      .catch(error => {
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Error',
          text: error.response.data.message,
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger'
        })
      })
    },
    reset_data () {
      this.user_data = JSON.parse(JSON.stringify(this.data))
    },
    validateForm () {
      return !this.errors.any()
    }
  },
  created () {
    // Register Module UserManagement Module
    if (!moduleUserManagement.isRegistered) {
      this.$store.registerModule('userManagement', moduleUserManagement)
      moduleUserManagement.isRegistered = true
    }
    console.log(this.$store.state.AppActiveUser.id,'user')
    if(typeof this.$route.params.userId === 'undefined' || this.$route.params.userId == '')
    {
      this.fetch_user_data(this.$store.state.AppActiveUser.id)
    }
    else
    {
      this.fetch_user_data(this.$route.params.userId)
    }
  },
  
  computed: {
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
  }
}

</script>
