<template>
  <div id="user-edit-tab-info">
    <div class="vx-row">
      <div class="vx-col w-full md:w-1/2">

        <!-- Col Header -->
        <div class="flex items-end">
          <feather-icon icon="UserIcon" class="mr-2" svgClasses="w-5 h-5" />
          <span class="leading-none font-medium">Informati personale</span>
        </div>

        <!-- Col Content -->
        <div>

          <vs-input :readonly="!activeUserInfo.permissions.includes('edit_user')" class="w-full mt-4" label="Telefon" v-model="data.phone" v-validate="{regex: '^\\+?([0-9]+)$' }" name="phone" />
          <span class="text-danger text-sm"  v-show="errors.has('phone')">{{ errors.first('phone') }}</span>
          
          <!-- Gender -->
          <div class="mt-4">
            <label class="text-sm">Sex</label>
            <div class="mt-2">
              <vs-radio :disabled="!activeUserInfo.permissions.includes('edit_user')" v-model="data.gender" vs-value="0" class="mr-4">Masculin</vs-radio>
              <vs-radio :disabled="!activeUserInfo.permissions.includes('edit_user')" v-model="data.gender" vs-value="1" class="mr-4">Feminin</vs-radio>
            </div>
          </div>

          <vs-input :readonly="!activeUserInfo.permissions.includes('edit_user')" class="w-full mt-4" label="IBAN" v-model="data.iban" name="iban" data-vv-as="field" />
          <span class="text-danger text-sm"  v-show="errors.has('iban')">{{ errors.first('iban') }}</span>

          <vs-input :readonly="!activeUserInfo.permissions.includes('edit_user')" class="w-full mt-4" label="Banca" v-model="data.bank" name="bank" data-vv-as="field" />
          <span class="text-danger text-sm"  v-show="errors.has('bank')">{{ errors.first('bank') }}</span>

          <div class="mt-6">
            <label>Preferinte Contact</label>
            <div class="flex flex-wrap mt-1">
            <vs-checkbox :disabled="!activeUserInfo.permissions.includes('edit_user')" v-model="data.contact_options" vs-value="email" class="mr-4 mb-2">Email</vs-checkbox>
            <vs-checkbox :disabled="!activeUserInfo.permissions.includes('edit_user')" v-model="data.contact_options" vs-value="message" class="mr-4 mb-2">Message</vs-checkbox>
            <vs-checkbox :disabled="!activeUserInfo.permissions.includes('edit_user')" v-model="data.contact_options" vs-value="phone" class=" mb-2">Phone</vs-checkbox>
            </div>
          </div>

        </div>
      </div>

      <!-- Address Col -->
      <div class="vx-col w-full md:w-1/2">

          <!-- Col Header -->
          <div class="flex items-end md:mt-0 mt-base">
            <feather-icon icon="MapPinIcon" class="mr-2" svgClasses="w-5 h-5" />
            <span class="leading-none font-medium">Adresa</span>
          </div>

          <!-- Col Content -->
          <div>
            <vs-input class="w-full mt-4" :readonly="!activeUserInfo.permissions.includes('edit_user')" label="Tara" v-model="data.country" name="country" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('country')">{{ errors.first('country') }}</span>

            <vs-input class="w-full mt-4" :readonly="!activeUserInfo.permissions.includes('edit_user')" label="Judet" v-model="data.region" name="region" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('region')">{{ errors.first('region') }}</span>

            <vs-input class="w-full mt-4" :readonly="!activeUserInfo.permissions.includes('edit_user')" label="Oras" v-model="data.city" name="city" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('city')">{{ errors.first('city') }}</span>

            <vs-input class="w-full mt-4" :readonly="!activeUserInfo.permissions.includes('edit_user')" label="Adresa" v-model="data.address" name="address" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('address')">{{ errors.first('address') }}</span>

            <vs-input class="w-full mt-4" :readonly="!activeUserInfo.permissions.includes('edit_user')" label="Adresa 2" v-model="data.address_alt" name="address_alt" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('address_alt')">{{ errors.first('address_alt') }}</span>

          </div>
      </div>

      <div class="vx-col w-full md:w-1/2 mt-6">

          <!-- Col Header -->
          <div class="flex items-end md:mt-0 mt-base">
            <feather-icon icon="UserPlusIcon" class="mr-2" svgClasses="w-5 h-5" />
            <span class="leading-none font-medium">Informati Firma</span>
          </div>

          <!-- Col Content -->
          <div>
            <vs-input :readonly="!activeUserInfo.permissions.includes('edit_user')" class="w-full mt-4" label="Nume Firma" v-model="data.business_name" name="business_name" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('business_name')">{{ errors.first('business_name') }}</span>

            <vs-input :readonly="!activeUserInfo.permissions.includes('edit_user')" class="w-full mt-4" label="Nr Reg Comertului" v-model="data.commerce_no" name="commerce_no" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('commerce_no')">{{ errors.first('commerce_no') }}</span>

            <vs-input :readonly="!activeUserInfo.permissions.includes('edit_user')" class="w-full mt-4" label="Cif/Cui" v-model="data.cui" name="cui" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('cui')">{{ errors.first('cui') }}</span>

            <vs-input :readonly="!activeUserInfo.permissions.includes('edit_user')" class="w-full mt-4" label="Website" v-model="data.website" v-validate="'url:require_protocol'" name="website" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('website')">{{ errors.first('website') }}</span>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import vSelect from 'vue-select'

export default {
  components: {
    vSelect,
    flatPickr
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
    }
  },
  computed: {
    validateForm () {
      return !this.errors.any()
    },
    
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
  },
  methods: {
  }
}
</script>
