<template>
  <div>
    <vs-list>
        <vs-list-header  icon-pack="feather" icon="icon-grid" :title="type" v-if="type"></vs-list-header>
        <draggable :group="{name: 'pages'}" :list="menus" :class='type' class='main_draggable'>
            <div v-for="(menu, index) in menus" :key="index" class='menu-item' :class="menu.class" >
                <vs-list-item :title="menu.name" :subtitle="menuUrl(menu)">
                  <div class="flex flex-end">
                    <vs-button color="danger" v-if="activeUserInfo.permissions.includes('manage_menus') && menu.id != 0" @click='deleteMenu(menu, false, index)'  icon="delete"></vs-button>
                  </div>
                </vs-list-item>
                <nested-draggable :menus='menu.siblings' v-if='typeof menu.siblings != "undefined"' :type='false'></nested-draggable>
            </div>
        </draggable>
    </vs-list>
    
    <vs-popup :title="'Delete menu ' + `${selectedMenu.name}` + ' and all of it\'s contents?'" :active.sync="popUpDeleteMenu">
      <p>
        Are you sure you want to delete {{selectedMenu.name}}?
      </p>
      <vs-button color="danger" type="filled" @click='deleteMenu(selectedMenu, true, 0)'>Delete</vs-button>
      <vs-button color="dark" type="border"  @click='popUpDeleteMenu=!popUpDeleteMenu'>Cancel</vs-button>
    </vs-popup>
  </div>
</template>
<script>
import draggable from "vuedraggable";

export default {
  props: {
    menus: {
      required: true,
      type: Array
    },
    type: ''
  },
  data () {
    return {
     selectedMenu: {},
     popUpDeleteMenu: false,
     selectedIndex: 0,
     menuPlaceholder: [
      { id:0, name:"Drag submenus here", url: null, class:"placeholder", page_id: 0 }
     ]
    }
  },
  components: {
    draggable
  },
  name: "nested-draggable",
  methods: {
    deleteMenu (menu, confirmation, index) {
      this.selectedIndex = index
      
      this.selectedMenu = menu;

      if(!confirmation)
      {
        this.popUpDeleteMenu = true;
      }
      else
      {
        this.$vs.loading()
        this.$store.dispatch('moduleCms/removeMenu', this.selectedMenu.id).then( response => {
          this.$vs.loading.close()
          console.log(response)
          let data = response.data
          let itemId = data.id
          let parentId = data.parent
          let type = data.type
          if(typeof parentId == 'undefined' || parentId == null || parentId == 0)
          {
              let menuIndex = this.menus.findIndex((u) => u.id == itemId)
              this.menus.splice(menuIndex, 1)
          }
          this.$vs.notify({
            title: 'Success',
            text: 'Menu deleted',
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'success'
          })
          this.popUpDeleteMenu = false
        }).catch( error => {
          this.popUpDeleteMenu = false
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Error',
            text: error.response.data.message,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'danger'
          })
        })
      }
    },
    menuUrl (menu) {
      console.log(menu)
      if(menu.url != null)
      {
        return menu.url
      }
      if(menu.page != null)
      {
        return menu.page.url
      }
      return ""
    }
  },
  computed: {
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
  }
};
</script>
<style lang="scss">
  .simple {
    color: #666;
    font-style: italic;
    font-weight: normal;
  }
  .link {
    color:blueviolet;
    font-style: italic;
    font-weight: normal;
  }
  .vs-list  {
    .vs-list {
      .main_draggable {
        padding-bottom: 7px;
        &:after{
          content: "Drag submenu here";
          background: transparent;
          font-size:11px;
          font-weight: normal;
          width: inherit;
          position: relative;
          padding:5px;
        }
      }
    }
  }
</style>