<template>
    <div class="h-screen flex w-full bg-img">
        <div class="vx-col w-10/12 m-4 p-2 ml-auto mr-auto pagina_simpla">
            <div v-if="!verify_form">
              <h1>BUN VENIT!</h1>
              <p>
                  Phasellus vestibulum, nisl iaculis venenatis sodales, eros mi vulputate elit, eget pretium urna libero et dui. 
                  Suspendisse sit amet velit malesuada enim porta fermentum. Maecenas velit felis, tristique vel massa non, 
                  facilisis suscipit arcu. Etiam vel aliquam justo. Phasellus hendrerit ex eu ante consequat dictum. 
                  Nullam ligula metus, lobortis sed tristique sed, pellentesque et quam. Nullam sed arcu nec quam mattis sagittis nec at mi. 
                  Vestibulum placerat nunc in scelerisque porttitor. Mauris condimentum magna dapibus semper varius. Quisque at porttitor nulla. 
                  Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                  Quisque quis vulputate velit, pellentesque sodales massa. Phasellus ac neque at ex vestibulum tristique eleifend non velit. 
                  Vivamus eget pellentesque odio.
              </p>
            </div>
            <div v-else>
              <h1>VALIDEAZA NUMARUL DE TELEFON</h1>
              <p>
                  Phasellus vestibulum, nisl iaculis venenatis sodales, eros mi vulputate elit, eget pretium urna libero et dui. 
                  Suspendisse sit amet velit malesuada enim porta fermentum. Maecenas velit felis, tristique vel massa non, 
                  facilisis suscipit arcu. Etiam vel aliquam justo. Phasellus hendrerit ex eu ante consequat dictum. 
                  Nullam ligula metus, lobortis sed tristique sed, pellentesque et quam. Nullam sed arcu nec quam mattis sagittis nec at mi. 
                  Vestibulum placerat nunc in scelerisque porttitor. Mauris condimentum magna dapibus semper varius. Quisque at porttitor nulla. 
                  Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                  Quisque quis vulputate velit, pellentesque sodales massa. Phasellus ac neque at ex vestibulum tristique eleifend non velit. 
                  Vivamus eget pellentesque odio.
              </p>
            </div>
            <div class="contact-formular" v-if="!verify_form">
                <div class="formular xl:w-8/12 w-10/12 ml-auto mr-auto">
                    <vs-input 
                        type="text" 
                        label="NUMAR TELEFON" 
                        v-model="phone" 
                        class="w-full formular-entry" />
                        
                    <div class="centerx labelx formular-entry-box formular-entry">
                        <label>
                            <input type="checkbox" v-model="isTermsConditionAccepted">
                            <span>
                            Sunt de acord cu bla bla si pentru ca am dat bifat aici pot apasa si butonul de trimite. 
                            Sunt de acord cu bla bla si pentru ca am dat bifat aici pot apasa si butonul de trimite.
                            </span>
                        </label>
                    </div>
                    <div class="clearfix"></div>

                    <button class="my-4 w-full btn-executa" @click="send_sms">trimite-mi cod sms</button>
                    
                    <div class="formular-help">
                        <router-link to="/faq">(nu te descurci - vezi indrumari)</router-link>
                    </div>
                </div>
            </div>
            <div class="contact-formular" v-else>
                <div class="formular lg:w-8/12 md:w-10/12 ml-auto mr-auto">
                    <vs-input 
                        type="text" 
                        label="COD SMS" 
                        v-model="sms_code" 
                        class="w-full formular-entry" />
                        
                
                    <button class="my-4 w-full btn-executa" @click="verify_phone">valideaza</button>
                    <input type='submit' class='hidden'/>
                    
                    <div class="formular-help">
                        <router-link to="/faq">(nu te descurci - vezi indrumari)</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      phone: '',
      isTermsConditionAccepted: true,
      verify_form: false,
      sms_code: ''
    }
  },
  computed: {
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
  },
  methods: {
      send_sms(){
        this.$vs.loading()
        let data = {
            phone: this.phone,
        }
        this.$store.dispatch('auth/sendSmsCode', data)
        .then((response) => { 
            this.$vs.loading.close()
            this.$vs.notify({
                title: 'Sms sent to ' + this.phone,
                text: "Check your messages and follow the instructions to activate your account",
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'success'
            })
            this.verify_form = true
        })
        .catch(error => {
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Error',
            text: error.response.data.message,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'danger'
          })
        })
      },
      verify_phone(){
        this.$vs.loading()
        let data = {
            sms_code: this.sms_code
        }
        this.$store.dispatch('auth/verifyPhone', data)
        .then((response) => { 
            this.$vs.loading.close()
            this.$vs.notify({
                title: 'Your phone has been verified',
                text: "Continue to your account . . .",
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'success'
            })
            if(this.activeUserInfo.first_login == 1)
            {
              this.$router.push('/first-login')
            }
            else
            {
              this.$router.push('/')
            }
        })
        .catch(error => {
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Error',
            text: error.response.data.message,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'danger'
          })
        })
      }
  }
}
</script>
