<template>
    <div class="h-screen flex w-full bg-img">
        <div class="vx-col w-10/12 m-4 p-2 ml-auto mr-auto pagina_simpla">
            <div>
              <h1>
                  BUN VENIT!
                  <span>castiga 10 credite</span>
              </h1>
              <p>
                  Phasellus vestibulum, nisl iaculis venenatis sodales, eros mi vulputate elit, eget pretium urna libero et dui. 
                  Suspendisse sit amet velit malesuada enim porta fermentum. Maecenas velit felis, tristique vel massa non, 
                  facilisis suscipit arcu. Etiam vel aliquam justo. Phasellus hendrerit ex eu ante consequat dictum. 
                  Nullam ligula metus, lobortis sed tristique sed, pellentesque et quam. Nullam sed arcu nec quam mattis sagittis nec at mi. 
                  Vestibulum placerat nunc in scelerisque porttitor. Mauris condimentum magna dapibus semper varius. Quisque at porttitor nulla. 
                  Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                  Quisque quis vulputate velit, pellentesque sodales massa. Phasellus ac neque at ex vestibulum tristique eleifend non velit. 
                  Vivamus eget pellentesque odio.
              </p>
            </div>
            <div class="contact-formular">
                <div class="formular xl:w-8/12 w-10/12 ml-auto mr-auto">
                    
                    <button class="my-4 w-full btn-executa" @click="$router.push('/first-login-personal')">Da, completez date cont personale si primesc 10 credite !</button>
                    <div class="clearfix"></div>

                    <button class="my-4 w-full btn-executa" @click="$router.push('/first-login-firma')">Da, completez date cont firma si primesc 10 credite !</button>
                    
                    <div class="formular-help">
                        <router-link to="/index-user-zero">Nu, multumesc! Vreau sa navighez mai repede pe site.</router-link>
                    </div>
                </div>
            </div>
            <div class="formular-help">
              <router-link to="/first-login-delete">Nu, am creat eu acest cont. Doresc stergerea lui!</router-link>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  computed: {
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
  },
  mounted() {
    if(!this.activeUserInfo.first_login)
    {
        this.$router.push('/')
    }
  }
}
</script>
