<template>
    <div class="h-screen flex w-full bg-img">
        <div class="vx-col w-10/12 m-4 p-2 ml-auto mr-auto pagina_simpla">
            <div>
              <h1>DATE PERSONALE</h1>
              <p>
                  Phasellus vestibulum, nisl iaculis venenatis sodales, eros mi vulputate elit, eget pretium urna libero et dui. 
                  Suspendisse sit amet velit malesuada enim porta fermentum. Maecenas velit felis, tristique vel massa non, 
                  facilisis suscipit arcu. Etiam vel aliquam justo. Phasellus hendrerit ex eu ante consequat dictum. 
                  Nullam ligula metus, lobortis sed tristique sed, pellentesque et quam. Nullam sed arcu nec quam mattis sagittis nec at mi. 
                  Vestibulum placerat nunc in scelerisque porttitor. Mauris condimentum magna dapibus semper varius. Quisque at porttitor nulla. 
                  Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                  Quisque quis vulputate velit, pellentesque sodales massa. Phasellus ac neque at ex vestibulum tristique eleifend non velit. 
                  Vivamus eget pellentesque odio.
              </p>
            </div>
            <div class="contact-formular">
                <div class="formular xl:w-8/12 w-10/12 ml-auto mr-auto">
                    
                    <div class="centerx labelx formular-entry-box formular-entry">
                        <label>
                            <input type="checkbox" v-model="isTermsConditionAccepted">
                            <span>
                                Sunt de acord cu stergerea contului si am luat la cunostinta ce implica acest lucru, 
                                cat si cu cele stipulate in 
                                "Conditii de utilizare", 
                                "Politica de confidentialitate", 
                                "Prelucrarea datelor cu caracter personal"
                            </span>
                        </label>
                    </div>
                    <div class="clearfix"></div>
                    <button class="my-4 w-full btn-executa3" @click="deleteAcc">Sterge cont</button>
                    
                </div>
            </div>
        </div>
    </div>
</template>