<template>
    <div class="h-screen flex w-full bg-img">
        <div class="vx-col w-10/12 m-4 p-2 ml-auto mr-auto pagina_simpla">
            <div>
              <h1>DATE FIRMA</h1>
              <p>
                  Phasellus vestibulum, nisl iaculis venenatis sodales, eros mi vulputate elit, eget pretium urna libero et dui. 
                  Suspendisse sit amet velit malesuada enim porta fermentum. Maecenas velit felis, tristique vel massa non, 
                  facilisis suscipit arcu. Etiam vel aliquam justo. Phasellus hendrerit ex eu ante consequat dictum. 
                  Nullam ligula metus, lobortis sed tristique sed, pellentesque et quam. Nullam sed arcu nec quam mattis sagittis nec at mi. 
                  Vestibulum placerat nunc in scelerisque porttitor. Mauris condimentum magna dapibus semper varius. Quisque at porttitor nulla. 
                  Aliquam erat volutpat. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                  Quisque quis vulputate velit, pellentesque sodales massa. Phasellus ac neque at ex vestibulum tristique eleifend non velit. 
                  Vivamus eget pellentesque odio.
              </p>
            </div>
            <div class="contact-formular">
                <div class="formular xl:w-8/12 w-10/12 ml-auto mr-auto">
                    <div class="centerx labelx">
                        <vs-input
                            v-validate="'required'"
                            data-vv-validate-on="blur"
                            name="business_name"
                            label="NUME COMPANIE"
                            v-model="business_name"
                            class="w-full formular-entry"/>
                        <span class="formular-msg-eroare">{{ errors.first('business_name') }}</span>
                    </div>
                    <div class="centerx labelx">
                        <vs-input
                            v-validate="'required'"
                            data-vv-validate-on="blur"
                            name="cui"
                            label="CUI/CIF"
                            v-model="cui"
                            class="w-full formular-entry"/>
                        <span class="formular-msg-eroare">{{ errors.first('cui') }}</span>
                    </div>
                    <div class="centerx labelx">
                        <vs-input
                            v-validate="'required'"
                            data-vv-validate-on="blur"
                            name="commerce_no"
                            label="NR. REGISTRUL COMERTULUI"
                            v-model="commerce_no"
                            class="w-full formular-entry"/>
                        <span class="formular-msg-eroare">{{ errors.first('commerce_no') }}</span>
                    </div>
                    <div class="centerx labelx smart-select">
                        <label>Judet</label>
                        <v-select placeholder="alegeti..." :options="judete" v-model='region' v-validate="'required'" data-vv-validate-on="blur"></v-select>
                        <span class="formular-msg-eroare">{{ errors.first('region') }}</span>
                    </div>
                    <div class="centerx labelx smart-select">
                        <label>Oras</label>
                        <v-select placeholder="alegeti..." :options="orase" v-model='city' v-validate="'required'" data-vv-validate-on="blur"></v-select>
                        <span class="formular-msg-eroare">{{ errors.first('city') }}</span>
                    </div>
                    <div class="centerx labelx mt-8">
                        <label>Adresa</label>
                        <textarea v-model='address' v-validate="'required'" data-vv-validate-on="blur" rows="7"></textarea>
                        <span class="formular-msg-eroare">{{ errors.first('address') }}</span>
                    </div>
                    <div class="centerx labelx formular-entry-box formular-entry">
                        <label>
                            <input type="checkbox" v-model="isTermsConditionAccepted">
                            <span>
                            Sunt de acord cu bla bla si pentru ca am dat bifat aici pot apasa si butonul de trimite. 
                            Sunt de acord cu bla bla si pentru ca am dat bifat aici pot apasa si butonul de trimite.
                            </span>
                        </label>
                    </div>
                    <div class="clearfix"></div>
                    <button class="my-4 w-full btn-executa" :disabled="!validateForm" @click="save">Salveaza si primesti 10 credite!</button>
                    <div class="clearfix"></div>

                    <div class="formular-help">
                        <router-link to="/index-user-zero">Renunt la credite! Nu vreau sa furnizez acum aceste date. Doresc sa accesez platforma mai repede.</router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import vSelect from 'vue-select'
// Store Module
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'

export default {
    data () {
        return {
            business_name: '',
            cui: '',
            commerce_no: '',
            region: '',
            city: '',
            address:'',
            isTermsConditionAccepted: false,
            judete: [ 'Alba', 'Bucuresti', 'Timis', 'Vrancea' ],
            orase: [ 'Alba', 'Bucuresti', 'Timis', 'Vrancea' ],
        }
    },
    components: {
        'v-select': vSelect,
    },
    computed: {
        activeUserInfo () {
            return this.$store.state.AppActiveUser
        },
        validateForm () {
            return !this.errors.any() 
                && this.business_name !== '' 
                && this.cui !== '' 
                && this.commerce_no !== ''
                && this.region !== ''
                && this.city !== ''
                && this.address !== ''
                && this.isTermsConditionAccepted === true
        },
    },
    mounted() {
        if(this.activeUserInfo.first_login == 0)
        {
            this.$router.push('/')
        }
    },
    methods: {
        save() {
            if (!this.validateForm) return;

            this.$vs.loading()
            const payload = {
                business_name: this.business_name,
                cui: this.cui,
                commerce_no: this.commerce_no,
                region: this.region,
                city: this.city,
                address: this.address
            }
            this.$store.dispatch('userManagement/firstLoginCompanyData', payload).then((response) => {
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Success',
                    text: '10 Credite au fost adaugate in contul tau.',
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'success'
                })
                this.$router.push('/index-user-felicitari')
            }).catch( (error) => {
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Error',
                    text: error.response.data.message,
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'danger'
                })
            })
        }
    },
    created () {
        // Register Module UserManagement Module
        if (!moduleUserManagement.isRegistered) {
            this.$store.registerModule('userManagement', moduleUserManagement)
            moduleUserManagement.isRegistered = true
        }
        
    }
}
</script>
