<template>
    <div class="h-screen flex w-full bg-img">
        <div class="vx-col w-10/12 m-4 p-2 ml-auto mr-auto">
            <div class="index-user-titlu">
                <img src="images/profile/cont-b.svg" title="Salut, Ionut!" alt="Salut, Ionut!" class="idex-user-titlu-icon" />
			
                <h1>Salut, {{name}}</h1>
                <span>
					felicitari, ai primit 10 credite
				</span>
            </div>
            <div class="index-user-shortcuts flex flex-wrap">
                <div class="xl:w-4/12 md:w-6/12 xl:px-4 sm:w-full sm:px-0">
                    <div class="index-user-shortcuts-entry">
                        <router-link to='/'>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><title>Creaza o licitatie</title><g id="Layer_2" data-name="Layer 2"><path class="cls-1" d="M32,4A28,28,0,1,0,60,32,28,28,0,0,0,32,4ZM44,36H36v8a4,4,0,0,1-8,0V36H20a4,4,0,0,1,0-8h8V20a4,4,0,0,1,8,0v8h8a4,4,0,0,1,0,8Z"/></g></svg>
                            Creaza o licitatie
                        </router-link>
                    </div>
                </div>
                <div class="xl:w-4/12 md:w-6/12 xl:px-4 sm:w-full sm:px-0">
                    <div class="index-user-shortcuts-entry">
                        <router-link to='/'>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><title>Portofel electronic(2321 credite)</title><g id="Layer_3" data-name="Layer 3"><path class="cls-1" d="M56,24H10.11A2.07,2.07,0,0,1,8,22.34,2,2,0,0,1,10,20H48.16A5.84,5.84,0,0,0,54,14.16a1.92,1.92,0,0,0-2.15-1.9L8.12,17.51A4.68,4.68,0,0,0,4,22.15V52.83A7.17,7.17,0,0,0,11.17,60H52.83A7.17,7.17,0,0,0,60,52.83V28A4,4,0,0,0,56,24ZM52,46.12a4,4,0,1,1,4-4A4,4,0,0,1,52,46.12Z"/></g></svg>
                            Portofel electronic({{activeUserInfo.credits}} credite)
                        </router-link>
                    </div>
                </div>
                <div class="xl:w-4/12 md:w-6/12 xl:px-4 sm:w-full sm:px-0">
                    <div class="index-user-shortcuts-entry">
                        <router-link to='/'>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><title>Notificari(230)</title><g id="Layer_2" data-name="Layer 2"><path class="cls-1" d="M32.06,6C16.56,6,4,17.64,4,32A24.64,24.64,0,0,0,9.52,47.48a3.21,3.21,0,0,1,.58,2.85L8.5,56.18A1.08,1.08,0,0,0,9.82,57.5l8-2.19A3.33,3.33,0,0,1,20,55.5a29.79,29.79,0,0,0,12,2.5c15.5,0,28.06-11.64,28.06-26S47.56,6,32.06,6ZM19,35a3,3,0,1,1,3-3A3,3,0,0,1,19,35Zm13,0a3,3,0,1,1,3-3A3,3,0,0,1,32,35Zm13,0a3,3,0,1,1,3-3A3,3,0,0,1,45,35Z"/></g></svg>
                            Notificari(230)
                        </router-link>
                    </div>
                </div>
                <div class="xl:w-4/12 md:w-6/12 xl:px-4 sm:w-full sm:px-0">
                    <div class="index-user-shortcuts-entry">
                        <router-link to='/'>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><title>Licitatiile mele(30/nelimitat)</title><g id="Layer_3" data-name="Layer 3"><path class="cls-1" d="M57.53,23c-.72-.43-1.5.35-1.5,1.48v7.71c0,1.12.78,1.9,1.5,1.48C59,32.85,60,30.79,60,28.38S59,23.91,57.53,23Z"/><path class="cls-1" d="M8.74,36.42a3.44,3.44,0,0,1,2.74,2.76l4.2,17.68a2.18,2.18,0,0,0,4.33-.4V20a1.08,1.08,0,0,0-1.34-1l-9.4,2.35A7,7,0,0,0,4,28v3a5.38,5.38,0,0,0,4.37,5.28Z"/><path class="cls-1" d="M26.13,44a5.75,5.75,0,0,0,2.13-1.47,4.84,4.84,0,0,1,5-1.29l13.51,4.09A1.69,1.69,0,0,1,48,46.92a1.67,1.67,0,0,0,1.62,1.72h.7A1.69,1.69,0,0,0,52,47V10.3a1.69,1.69,0,0,0-1.69-1.69h-.7A1.67,1.67,0,0,0,48,10.34a1.69,1.69,0,0,1-1.28,1.6L25.29,18.3A1.69,1.69,0,0,0,24,19.94V42.49A1.58,1.58,0,0,0,26.13,44Z"/></g></svg>
                            Licitatiile mele(30/nelimitat)
                        </router-link>
                    </div>
                </div>
                <div class="xl:w-4/12 md:w-6/12 xl:px-4 sm:w-full sm:px-0">
                    <div class="index-user-shortcuts-entry">
                        <router-link to='/'>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><title>Licitatii la care particip(230)</title><g id="Layer_2" data-name="Layer 2"><path class="cls-1" d="M24,32a8,8,0,0,0,3.41,6.55,1.07,1.07,0,0,1-.26,1.89A16.23,16.23,0,0,0,16.44,52.2,3.13,3.13,0,0,0,19.5,56h25a3.13,3.13,0,0,0,3.07-3.8A16.23,16.23,0,0,0,36.84,40.44a1.07,1.07,0,0,1-.25-1.89A8,8,0,0,0,40,31.34,8,8,0,0,0,24,32Z"/><path class="cls-1" d="M15.16,28.44A16.23,16.23,0,0,0,4.44,40.2,3.13,3.13,0,0,0,7.5,44h6.85a3.07,3.07,0,0,0,2.37-1.09,20.38,20.38,0,0,1,3.15-3.06,3.14,3.14,0,0,0,.91-3.62A12,12,0,0,1,28,20.72,7.92,7.92,0,0,0,20.23,12a8,8,0,0,0-4.82,14.54A1.07,1.07,0,0,1,15.16,28.44Z"/><path class="cls-1" d="M48.59,26.55A8,8,0,0,0,52,19.34,8,8,0,0,0,36,20c0,.25,0,.49,0,.73a12,12,0,0,1,7.19,15.52,3.14,3.14,0,0,0,.91,3.61,20.38,20.38,0,0,1,3.14,3A3.07,3.07,0,0,0,49.65,44H56.5a3.13,3.13,0,0,0,3.07-3.8A16.23,16.23,0,0,0,48.84,28.44,1.07,1.07,0,0,1,48.59,26.55Z"/></g></svg>
                            Licitatii la care particip(230)
                        </router-link>
                    </div>
                </div>
                <div class="xl:w-4/12 md:w-6/12 xl:px-4 sm:w-full sm:px-0">
                    <div class="index-user-shortcuts-entry">
                        <router-link to='/'>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><title>Licitatii urmarite(230)</title><g id="Layer_2" data-name="Layer 2"><path class="cls-1" d="M59.94,30.17A28,28,0,1,0,47.05,55.6a2.58,2.58,0,0,1,3.23.34l3.39,3.39a2.23,2.23,0,0,0,1.51.67A4.7,4.7,0,0,0,60,55.18a2.23,2.23,0,0,0-.67-1.51l-3.39-3.39a2.58,2.58,0,0,1-.34-3.23A27.87,27.87,0,0,0,59.94,30.17ZM30,51.9A20,20,0,1,1,51.9,30,20.08,20.08,0,0,1,30,51.9Z"/><path class="cls-1" d="M39.63,29H37.38A2.38,2.38,0,0,1,35,26.62V24.37A2.38,2.38,0,0,0,32.62,22H31.38A2.38,2.38,0,0,0,29,24.37v2.26A2.38,2.38,0,0,1,26.62,29H24.37A2.38,2.38,0,0,0,22,31.38v1.24A2.38,2.38,0,0,0,24.37,35h2.26A2.38,2.38,0,0,1,29,37.38v2.26A2.38,2.38,0,0,0,31.38,42h1.24A2.38,2.38,0,0,0,35,39.63V37.38A2.38,2.38,0,0,1,37.38,35h2.26A2.38,2.38,0,0,0,42,32.62V31.38A2.38,2.38,0,0,0,39.63,29Z"/></g></svg>
                            Licitatii urmarite(230)
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        activeUserInfo () {
            return this.$store.state.AppActiveUser
        },
        name() {
            return this.activeUserInfo.name
        }
    },
}
</script>