<template>
    <div class="h-screen flex w-full bg-img">
        <div class="vx-col w-10/12 m-4 p-2 ml-auto mr-auto pagina_simpla">
            <h1>AI UITAT PAROLA?</h1>
            <div class="contact-formular">
                <div class="formular lg:w-8/12 md:w-10/12 ml-auto mr-auto">
                    
                    <vs-input 
                        type="email" 
                        label="INTRODU ADRESA DE EMAIL FOLOSITA LA INREGISTRARE" 
                        v-model="email" 
                        icon-no-border
                        icon-pack="fa"
                        icon="fa-user"
                        class="w-full formular-entry" />
                    <div class="clearfix"></div>
                
                    <button class="my-4 w-full btn-executa" @click="send_email">TRIMITE LINK</button>
                    <input type='submit' class='hidden'/>
                    
                    <div class="formular-help">
                        <router-link to="/faq">(nu te descurci - vezi indrumari)</router-link>
                    </div>
                </div>
            </div>
            <div class="login-shortcuts xl:flex xl:flex-row md:flex-col justify-between">
                <div class="xl:w-1/2 md:w-full xl:mr-5 md:mr-0">
                    <router-link to="/register">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><title>Nu ai cont? Nu e problema, click aici si creaza unul!</title><g id="Layer_2" data-name="Layer 2"><path d="M46,60A14,14,0,1,0,32,46,14,14,0,0,0,46,60ZM40,45.47A1.46,1.46,0,0,1,41.47,44h1.09A1.46,1.46,0,0,0,44,42.55V41.46A1.46,1.46,0,0,1,45.48,40h1.07A1.46,1.46,0,0,1,48,41.46v1.09A1.46,1.46,0,0,0,49.46,44h1.09A1.46,1.46,0,0,1,52,45.47v1.07A1.46,1.46,0,0,1,50.55,48H49.46A1.46,1.46,0,0,0,48,49.45v1.09A1.46,1.46,0,0,1,46.54,52H45.48A1.46,1.46,0,0,1,44,50.54V49.45A1.46,1.46,0,0,0,42.56,48H41.47A1.46,1.46,0,0,1,40,46.53Z"/><path d="M11.18,44H24.26a4.7,4.7,0,0,0,4.53-3.25,18.06,18.06,0,0,1,6.84-9.45,1,1,0,0,0-.26-1.75,37.6,37.6,0,0,0-5.71-1.17A1.91,1.91,0,0,1,28,26.48h0a1.9,1.9,0,0,1,1-1.69,11,11,0,1,0-10.06,0,1.92,1.92,0,0,1-.63,3.6A33.75,33.75,0,0,0,7.68,31.45,6.56,6.56,0,0,0,4,37.3,7,7,0,0,0,11.18,44Z"/></g></svg>
                    <span class="login-shortcuts-content">
                        <span class="login-shortcuts-tit">Nu ai cont?</span>
                        <span class="login-shortcuts-txt">nu e problema, click aici si creaza unul</span>
                    </span>
                    </router-link>
                </div>
                <div class="xl:w-1/2 md:w-full xl:ml-5 md:ml-0 md:mt-6 xl:mt-0">
                    <a href="recuperare-cont.html">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><title>Ai uitat datele contului? Contacteaza-ne pentru a recupera contul!</title><g id="Layer_2" data-name="Layer 2"><path d="M52.47,16h-.76A3.71,3.71,0,0,0,48,19.71V20a8,8,0,0,1-8,8H24a8,8,0,0,1-8-8v-.3A3.71,3.71,0,0,0,12.29,16h-.76A7.53,7.53,0,0,0,4,23.53V52.47A7.53,7.53,0,0,0,11.53,60H52.47A7.53,7.53,0,0,0,60,52.47V23.53A7.53,7.53,0,0,0,52.47,16ZM25.42,49.58H14.64a2.2,2.2,0,0,1-2.13-2.85,8.27,8.27,0,0,1,5.12-5.3.55.55,0,0,0,.09-1A4.52,4.52,0,0,1,20,32a4.62,4.62,0,0,1,4.5,5,4.51,4.51,0,0,1-2.21,3.41.55.55,0,0,0,.09,1,8.26,8.26,0,0,1,5.16,5.31A2.21,2.21,0,0,1,25.42,49.58Zm16.58,0H34a2,2,0,0,1,0-4h8a2,2,0,0,1,0,4Zm8,0a2,2,0,1,1,2-2A2,2,0,0,1,50,49.58ZM50,40H34a2,2,0,0,1,0-4H50a2,2,0,0,1,0,4Z"/><rect x="20" y="10" width="24" height="14" rx="5.54" ry="5.54"/></g></svg>
                        <span class="login-shortcuts-content">
                            <span class="login-shortcuts-tit">Ai uitat datele contului?</span>
                            <span class="login-shortcuts-txt">contacteaza-ne pentru a recupera contul</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      email: ''
    }
  },
  methods: {
      send_email(){
        this.$vs.loading()
        this.$store.dispatch('auth/forgotPassword', this.email)
        .then((response) => { 
            this.$vs.loading.close()
            this.$vs.notify({
                title: 'Email sent',
                text: "Check your inbox and follow the instructions to reset your password",
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'success'
            })
        })
        .catch(error => {
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Error',
            text: error.response.data.message,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'danger'
          })
        })
      }
  }
}
</script>
