<template>
  <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center pagina_simpla" id="page-login">
    <div class="vx-col w-10/12 m-4 p-2 ml-auto mr-auto">
      <h1>AUTENTIFICARE</h1>
      <vs-alert icon="warning" active="true" color="success" class="my-5" v-if='code == "false"'>
        <span>Please verify your email. Check your inbox! <a href="#" @click='resendEmail'>Resend e-mail with verification link.</a></span>
      </vs-alert>
      
      <vs-alert icon="info" active="true" color="success" class="my-5" v-if='verified'>
          <span>Your email has been verified</span>
      </vs-alert>
      <div>
        <div class="contact-formular">
          
          <form class="formular xl:w-8/12 w-10/12 ml-auto mr-auto" @submit.prevent="login" type="POST">
              <div>
                <div class="centerx labelx">
                  <vs-input
                      v-validate="'required|email|min:3'"
                      data-vv-validate-on="blur"
                      name="email"
                      icon-no-border
                      icon-pack="fa"
                      icon="fa-user"
                      label="Email"
                      v-model="email"
                      class="w-full formular-entry"/>
                  <span class="formular-msg-eroare">{{ errors.first('email') }}</span>
                </div>
                <div class="centerx labelx">
                  <vs-input
                      data-vv-validate-on="blur"
                      v-validate="'required|min:8'"
                      type="password"
                      name="password"
                      icon-no-border
                      icon-pack="fa"
                      icon="fa-lock"
                      label="Password"
                      v-model="password"
                      class="w-full formular-entry" />
                  <span class="formular-msg-eroare">{{ errors.first('password') }}</span>
                </div>

                <div class="clearfix"></div>
                
                <button class="my-4 w-full btn-executa" type="submit" :disabled="!validateForm">acceseaza cont</button>
                
                <div class="formular-help">
                  <router-link to="/faq">(nu te descurci - vezi indrumari)</router-link>
                </div>

              </div>
          </form>
        </div>

        <div class="login-shortcuts xl:flex xl:flex-row md:flex-col justify-between">
          <div class="xl:w-1/2 md:w-full xl:mr-5 md:mr-0">
            <router-link to="/forgot-password">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><title>Ai uitat parola? Click aici pentru a recupera parola!</title><g id="Layer_2" data-name="Layer 2"><path d="M56,4a4,4,0,0,0-4,4v4.47A28,28,0,1,0,32,60a4,4,0,0,0,0-8A20,20,0,1,1,48,20H40a4,4,0,0,0,0,8H60V8A4,4,0,0,0,56,4Z"/></g></svg>
              <span class="login-shortcuts-content">
                <span class="login-shortcuts-tit">Ai uitat parola?</span>
                <span class="login-shortcuts-txt">click aici pentru a recupera parola</span>
              </span>
            </router-link>
          </div>
          <div class="xl:w-1/2 md:w-full xl:ml-5 md:ml-0 md:mt-6 xl:mt-0">
            <router-link to="/register">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><title>Nu ai cont? Nu e problema, click aici si creaza unul!</title><g id="Layer_2" data-name="Layer 2"><path d="M46,60A14,14,0,1,0,32,46,14,14,0,0,0,46,60ZM40,45.47A1.46,1.46,0,0,1,41.47,44h1.09A1.46,1.46,0,0,0,44,42.55V41.46A1.46,1.46,0,0,1,45.48,40h1.07A1.46,1.46,0,0,1,48,41.46v1.09A1.46,1.46,0,0,0,49.46,44h1.09A1.46,1.46,0,0,1,52,45.47v1.07A1.46,1.46,0,0,1,50.55,48H49.46A1.46,1.46,0,0,0,48,49.45v1.09A1.46,1.46,0,0,1,46.54,52H45.48A1.46,1.46,0,0,1,44,50.54V49.45A1.46,1.46,0,0,0,42.56,48H41.47A1.46,1.46,0,0,1,40,46.53Z"/><path d="M11.18,44H24.26a4.7,4.7,0,0,0,4.53-3.25,18.06,18.06,0,0,1,6.84-9.45,1,1,0,0,0-.26-1.75,37.6,37.6,0,0,0-5.71-1.17A1.91,1.91,0,0,1,28,26.48h0a1.9,1.9,0,0,1,1-1.69,11,11,0,1,0-10.06,0,1.92,1.92,0,0,1-.63,3.6A33.75,33.75,0,0,0,7.68,31.45,6.56,6.56,0,0,0,4,37.3,7,7,0,0,0,11.18,44Z"/></g></svg>
              <span class="login-shortcuts-content">
                <span class="login-shortcuts-tit">Nu ai cont?</span>
                <span class="login-shortcuts-txt">nu e problema, click aici si creaza unul</span>
              </span>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data () {
    return {
      email: '',
      password: '',
      checkbox_remember_me: false,
      code: this.$route.params.code,
      verified: false
    }
  },
  mounted() {
    if(this.code && this.code != 'false')
    {
      this.$store.dispatch('auth/verifyEmail', this.code)
        .then((response) => { 
          console.log(response)
            this.email = response.data.email
            this.verified = true
          })
        .catch(error => {
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Error',
            text: error.response.data.message,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'danger'
          })
          if(error.response.data.error == 'verify_email')
          {
            this.code == 'false'
          }
        })
    }
  },
  computed: {
    validateForm () {
      return !this.errors.any() && this.email !== '' && this.password !== ''
    },
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
  },
  methods: {
    login () {

      // Loading
      this.$vs.loading()

      const payload = {
        checkbox_remember_me: this.checkbox_remember_me,
        userDetails: {
          email: this.email,
          password: this.password
        }
      }

      this.$store.dispatch('auth/loginJWT', payload)
        .then(response => { 
          this.$vs.loading.close()
          this.$acl.change(this.activeUserInfo.acl_role)
          if(this.$acl.check('manager'))
          {
            this.$router.push('/admin/dashboard').catch(() => {})
          }
          else
          {
            //where additional_data is warning message for email verification
            if(response.data.additional_data)
            {
              this.code = 'false'
              this.verified = false
            }
            else
            {
              console.log(this.activeUserInfo.phone_verified_at, 'w')
              if(this.activeUserInfo.phone_verified_at)
              {
                if(this.activeUserInfo.first_login == 1)
                {
                  this.$router.push('/first-login')
                }
                else
                {
                  this.$router.push(this.$router.currentRoute.query.to || '/')
                }
              }
              else
              {
                this.$router.push('/phone')
              }
            }
          }
        })
        .catch(error => {
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Error',
            text: error.response.data.message,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'danger'
          })
        })
    },
    resendEmail () {
      let data = {
        email: this.email,
      }
      this.$store.dispatch('auth/resendEmail', data).then(() => {
        this.$vs.notify({
            title: 'Success',
            text: 'Email sent to ' + this.email,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'success'
          })
      }).catch(response => {
        this.$vs.notify({
            title: 'Error',
            text: 'Could not send email',
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'danger'
          })
      })
    },
    registerUser () {
      this.$router.push('/register').catch(() => {})
    }
  }
}
</script>

<style lang="scss">
.login-tabs-container {
  min-height: 505px;

  .con-tab {
    padding-bottom: 14px;
  }

  .con-slot-tabs {
    margin-top: 1rem;
  }
}
</style>
