<template>
    <div class="h-screen flex w-full bg-img">
        <div class="vx-col w-10/12 m-4 p-2 ml-auto mr-auto">
            <div class="index-user-titlu">
                <img src="images/profile/cont-b.svg" title="Salut, Ionut!" alt="Salut, Ionut!" class="idex-user-titlu-icon" />
			
                <h1>Salut</h1>
                <span>
					pentru a intreprinde anumite actiuni, precum creare sau participarea la o licitatie, va fi nevoie sa completezi datele profilului
				</span>
            </div>
            <div class="index-user-shortcuts flex flex-col">
                <div class="">
                    <div class="index-user-shortcuts-entry">
                        <router-link to='/'>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><title>Date personale</title><g id="Layer_2" data-name="Layer 2"><path d="M52.47,16h-.76A3.71,3.71,0,0,0,48,19.71V20a8,8,0,0,1-8,8H24a8,8,0,0,1-8-8v-.3A3.71,3.71,0,0,0,12.29,16h-.76A7.53,7.53,0,0,0,4,23.53V52.47A7.53,7.53,0,0,0,11.53,60H52.47A7.53,7.53,0,0,0,60,52.47V23.53A7.53,7.53,0,0,0,52.47,16ZM25.42,49.58H14.64a2.2,2.2,0,0,1-2.13-2.85,8.27,8.27,0,0,1,5.12-5.3.55.55,0,0,0,.09-1A4.52,4.52,0,0,1,20,32a4.62,4.62,0,0,1,4.5,5,4.51,4.51,0,0,1-2.21,3.41.55.55,0,0,0,.09,1,8.26,8.26,0,0,1,5.16,5.31A2.21,2.21,0,0,1,25.42,49.58Zm16.58,0H34a2,2,0,0,1,0-4h8a2,2,0,0,1,0,4Zm8,0a2,2,0,1,1,2-2A2,2,0,0,1,50,49.58ZM50,40H34a2,2,0,0,1,0-4H50a2,2,0,0,1,0,4Z"/><rect x="20" y="10" width="24" height="14" rx="5.54" ry="5.54"/></g></svg>
                            <span class="menu-listing-user-r">
                                <span class="menu-listing-user-tit">
                                    Date personale
                                </span>
                                <span class="menu-listing-user-txt">
                                    Informatii despre tine
                                </span>
                            </span>
                        </router-link>
                    </div>
                </div>
                <div class="">
                    <div class="index-user-shortcuts-entry">
                        <router-link to='/'>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><title>Date companie</title><g id="Layer_3" data-name="Layer 3"><path d="M22.68,8A6.47,6.47,0,0,0,16,14.21a2,2,0,0,0,4,0A2.48,2.48,0,0,1,22.68,12H41.32A2.48,2.48,0,0,1,44,14.21a2,2,0,0,0,4,0A6.47,6.47,0,0,0,41.32,8Z"/><path d="M6.09,28H57.91A2.09,2.09,0,0,0,60,25.91V24.26A4.26,4.26,0,0,0,55.74,20H8.26A4.26,4.26,0,0,0,4,24.26v1.64A2.09,2.09,0,0,0,6.09,28Z"/><path d="M8.26,60H55.74A4.26,4.26,0,0,0,60,55.74V33.85A1.85,1.85,0,0,0,58.15,32H39.75A1.75,1.75,0,0,0,38,33.75,6.17,6.17,0,0,1,32.73,40,6,6,0,0,1,26,34v-.25A1.75,1.75,0,0,0,24.25,32H5.85A1.85,1.85,0,0,0,4,33.85V55.74A4.26,4.26,0,0,0,8.26,60Z"/><path d="M31.54,32.06a1.48,1.48,0,0,0-1.48,1.48V34A2,2,0,0,0,34,34v-.49a1.48,1.48,0,0,0-1.48-1.48Z"/></g></svg>
                            <span class="menu-listing-user-r">
                                <span class="menu-listing-user-tit">
                                    Date companie
                                </span>
                                <span class="menu-listing-user-txt">
                                    Informatii despre compania ta
                                </span>
                            </span>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// Store Module
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'

export default {
    computed: {
        activeUserInfo () {
            return this.$store.state.AppActiveUser
        },
    },
    mounted () {
        this.$store.dispatch('userManagement/firstLoginRefuse').then((response) => {
            this.$vs.loading.close()
            
        }).catch( (error) => {
            this.$vs.loading.close()
            this.$vs.notify({
                title: 'Error',
                text: error.response.data.message,
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })
        })
    },
    created () {
        // Register Module UserManagement Module
        if (!moduleUserManagement.isRegistered) {
            this.$store.registerModule('userManagement', moduleUserManagement)
            moduleUserManagement.isRegistered = true
        }
        
    }
}
</script>