<template>
    <div class="h-screen flex w-full bg-img vx-row no-gutter items-center justify-center pagina_simpla">
        <div class="vx-col w-10/12 m-4 p-2 ml-auto mr-auto">
            <h1>RESETEAZA PAROLA</h1>
            <div class="contact-formular">
                <div class="clearfix formular xl:w-8/12 w-10/12 ml-auto mr-auto ">
                    <div class="centerx labelx">
                    <vs-input
                        icon-no-border
                        icon-pack="fa"
                        icon="fa-user"
                        v-validate="'required|email'"
                        data-vv-validate-on="blur"
                        name="email"
                        type="email"
                        v-model="email"
                        label="ADRESA EMAIL"
                        class="w-full formular-entry" />
                    <span class="formular-msg-eroare">{{ errors.first('email') }}</span>
                    </div>

                    <div class="centerx labelx">
                    <vs-input
                        ref="password"
                        type="password"
                        icon-no-border
                        icon-pack="fa"
                        icon="fa-lock"
                        data-vv-validate-on="blur"
                        v-validate="'required|min:8'"
                        name="password"
                        label="PAROLA noua"
                        v-model="password"
                        class="w-full formular-entry" />
                    <span class="formular-msg-eroare">{{ errors.first('password') }}</span>
                    </div>

                    <div class="centerx labelx">
                    <vs-input
                        type="password"
                        icon-no-border
                        icon-pack="fa"
                        icon="fa-lock"
                        v-validate="'min:8|confirmed:password'"
                        data-vv-validate-on="blur"
                        data-vv-as="password"
                        name="confirm_password"
                        label="REPETA PAROLA"
                        v-model="confirm_password"
                        class="w-full formular-entry" />
                    <span class="formular-msg-eroare">{{ errors.first('confirm_password') }}</span>

                    </div>
                    
                    <div class="clearfix"></div>
                    <button class="my-4 w-full btn-executa" @click="reset" :disabled="!validateForm">reseteaza parola</button>

                    <div class="formular-help">
                        <router-link to="/faq">(nu te descurci - vezi indrumari)</router-link>
                    </div>

                </div>

            </div>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      password: '',
      confirm_password: ''
    }
  },
  mounted() {
      this.$vs.loading()
      this.$store.dispatch('auth/resetPassword', this.$route.params.uuid).then(response => {
          this.$vs.loading.close()
          this.email = response.data.email
      }).catch(error => {
        this.$vs.loading.close()
        this.$vs.notify({
            title: 'Error',
            text: error.response.data.message,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'danger'
        })
      })
  },
  computed: {
    validateForm () {
            return !this.errors.any()
        },
  },
  methods: {
      reset(){
        if (!this.validateForm) return
        this.$vs.loading()
        let data = {
            email: this.email,
            uuid: this.$route.params.uuid,
            password: this.password
        }
        this.$store.dispatch('auth/resetPasswordPost', data).then(response => {
            this.$vs.loading.close()
            this.$vs.notify({
                title: 'Success',
                text: "Password has been reset! You can login now with the new password",
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'success'
            })
        }).catch(error => {
            this.$vs.loading.close()
            this.$vs.notify({
                title: 'Error',
                text: error.response.data.message,
                iconPack: 'feather',
                icon: 'icon-alert-circle',
                color: 'danger'
            })
        })

      }
  }
}
</script>
