<template>
  <div id="page-role-edit">

    <vs-alert color="danger" title="Role Not Found" :active.sync="role_not_found">
      <span>Role record with id: {{ $route.params.roleId }} not found. </span>
      <span>
        <span>Check </span><router-link :to="{name:'app-roles-list'}" class="text-inherit underline">All Roles</router-link>
      </span>
    </vs-alert>

    <vx-card v-if="role_data">
      <div slot="header">
        <h3>
          Role {{role_data.name}}
        </h3>
      </div>
      <div class="tabs-container px-6 pt-6">

        <vs-tabs v-model="activeTab" class="tab-action-btn-fill-conatiner" v-if="activeUserInfo.permissions.includes('view_role') || activeUserInfo.permissions.includes('edit_role')">
          <vs-tab label="Permissions" icon-pack="feather" icon="icon-lock">
            <div class="tab-text">
              <role-edit-tab-permissions class="mt-4" :data="role_data"  />
            </div>
          </vs-tab>
          <vs-tab label="Informati" icon-pack="feather" icon="icon-info">
            <div class="tab-text">
              <role-edit-tab-information class="mt-4" :data="role_data" />
            </div>
          </vs-tab>
        </vs-tabs>

      </div>

    </vx-card>
  </div>
</template>

<script>
import RoleEditTabPermissions  from './RoleEditTabPermissions.vue'
import RoleEditTabInformation from './RoleEditTabInformation.vue'

// Store Module
import moduleRole from '@/store/role/moduleRole.js'

export default {
  components: {
    RoleEditTabPermissions,
    RoleEditTabInformation
  },
  data () {
    return {
      role_data: null,
      role_not_found: false,

      /*
        This property is created for fetching latest data from API when tab is changed

        Please check it's watcher
      */
      activeTab: 0
    }
  },
  watch: {
    activeTab () {
      this.fetch_role_data(this.$route.params.roleId)
    }
  },
  methods: {
    fetch_role_data (roleId) {
      this.$store.dispatch('moduleRole/fetchRole', roleId)
        .then(res => { this.role_data = res.data })
        .catch(err => {
          if (err.response.status === 404) {
            this.role_not_found = true
            return
          }
        })
    }
  },
  created () {
    if (!moduleRole.isRegistered) {
      this.$store.registerModule('moduleRole', moduleRole)
      moduleRole.isRegistered = true
    }
    this.fetch_role_data(this.$route.params.roleId)
    if(!this.activeUserInfo.permissions.includes('view_role'))
    {
      this.$vs.notify({
          title: 'Error',
          text: 'You don\'t have permission to view this role',
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger'
        })
    }
  },
  computed: {
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
  }
  
}

</script>
