<template>
  <div id="role-edit-tab-info">
    <div class="vx-row">
        <!-- Col Content -->
        <div class="block overflow-x-auto">
          <table class="w-full" v-for='(permissions, module_name) in roles_modules' :key='module_name' >
            <tr>
              <th class="font-semibold text-base text-left px-3 py-2">{{ module_name }}</th>
              <td v-for="(name, index) in permissions" :key="index">
                <vs-checkbox :disabled="!activeUserInfo.permissions.includes('edit_role')" v-model="local_permissions[name]"> {{name}} </vs-checkbox>
              </td>
            </tr>
          </table>
        </div>
    </div>

    <!-- Save & Reset Button -->
    <div class="vx-row" v-if="activeUserInfo.permissions.includes('edit_role')">
      <div class="vx-col w-full">
        <div class="mt-8 flex flex-wrap items-center justify-end">
          <vs-button class="ml-auto mt-2" @click="save_changes" :disabled="!validateForm">Save Changes</vs-button>
          <vs-button class="ml-4 mt-2" type="border" color="warning" @click="reset_data">Reset</vs-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import vSelect from 'vue-select'

export default {
  components: {
    vSelect,
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  mounted() {
    console.log(this.data_local)
  },
  data () {
    return {

      data_local: JSON.parse(JSON.stringify(this.data)),
      roles_modules: this.data.roles_modules,
      local_permissions: this.data.local_permissions,
    }
  },
  computed: {
    validateForm () {
      return !this.errors.any()
    },
    
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
  },
  methods: {
    save_changes () {
      /* eslint-disable */
      console.log(this.data_local)
      if (!this.validateForm) return
      // Loading
      this.$vs.loading()
      // Here will go your API call for updating data
      // You can get data in "this.data_local"
      this.$store.dispatch('moduleRole/editRolePermissions', {id: this.data.id, permissions: this.local_permissions})
        .then(() => { 
          this.$vs.loading.close()
        })
        .catch(error => {
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Error',
            text: error.response.data.message,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'danger'
          })
        })

      /* eslint-enable */
    },
    reset_data () {
      this.data_local = Object.assign({}, this.data)
    }
  }
}
</script>
