<template>
  <div>
    <div class="vs-row">
        <div class="vx-col w-full">
            <vs-input class="w-full mt-4" label="Name" v-model="data.name" v-validate="'required'" name="name" />
            <span class="text-danger text-sm"  v-show="errors.has('name')">{{ errors.first('name') }}</span>

            <vs-input class="w-full mt-4" label="Url" v-model="data.url" type="text" v-validate="'required'" name="url" @blur='urlTouched=true'/>
            <span class="text-danger text-sm"  v-show="errors.has('url')">{{ errors.first('url') }}</span>
        </div>
    </div>
    <vs-divider/>
    <div class="vs-row">
      <nested-shortcode :shortcodes="data.shortcodes"></nested-shortcode>
    </div>
    <vs-divider class="mt-4"/>
    <div class="vs-row">
        <div class="vx-col">
            <vs-button class="btnx" type="filled" @click='addShortcode("editor")'>Add</vs-button>
            <vs-dropdown>
              <vs-button class="btn-drop" type="filled" icon="expand_more"></vs-button> 

              <vs-dropdown-menu>
                  <vs-dropdown-item @click='addShortcode("grid_columns")'>
                  Container / Grid
                  </vs-dropdown-item>
                  <vs-dropdown-group >
                  <vs-dropdown-item @click='addShortcode("editor")'>
                      Editor
                  </vs-dropdown-item>
                  <vs-dropdown-item  @click='addShortcode("image")'>
                      Image
                  </vs-dropdown-item>
                  <vs-dropdown-item  @click='addShortcode("faq")'>
                      FAQ
                  </vs-dropdown-item>
                  </vs-dropdown-group>
              </vs-dropdown-menu>
            </vs-dropdown>
        </div>
    </div>
  </div>
</template>

<script>

// Store Module
import moduleCms from '@/store/cms/moduleCms.js'
import vSelect from 'vue-select'
import NestedShortcode  from './shortcodes/Shortcode.vue'

export default {
  components: {
    vSelect,
    NestedShortcode
  },
  props: {
    data: {}
  },
  data () {
    return {
      page_not_found: false,
      urlTouched: this.data.id ? true : false

    }
  },
  watch: {
    
    'data.name': function(val) {
      if(!this.urlTouched)
      {
        this.data.url = val.toLowerCase().replace(/\s/g , "-")
      }
    }
  },
  methods: {
    capitalize (str) {
      return str.slice(0, 1).toUpperCase() + str.slice(1, str.length)
    },
    
    addShortcode(type) {
      switch(type){
        case "block":
          this.data.shortcodes.push({
            id: 0,
            parent: null,
            classes: "vs-row",
            type: "block",
            content: null,
            position: 1,
            page_id: this.data.id,
            shortcodes: [
              {
                id: 0,
                parent: null,
                classes: "vs-col w-1/2",
                type: "editor",
                content: null,
                position: 1,
                page_id: this.data.id,
              },
              {
                id: 0,
                parent: null,
                classes: "vs-col w-1/2",
                type: "image",
                content: null,
                position: 1,
                page_id: this.data.id,
                transitions: {
                  hover: "zoom"
                }
              }
            ]
          })
        break;
        case "faq":
          this.data.shortcodes.push({
            id: 0,
            parent: null,
            content: [
              {
                title: "",
                content: "Very concise answer"
              },
            ],
            type: type,
            position: this.data.length,
            classes: ''
          })
        break;
        default: 
          this.data.shortcodes.push({
            id: 0,
            parent: null,
            content: '',
            type: type,
            position: this.data.length,
            classes: ''
          })
        break;
      }
    },
  },
  computed: {
  },
  created () {
    if (!moduleCms.isRegistered) {
      this.$store.registerModule('moduleCms', moduleCms)
      moduleCms.isRegistered = true
    }
  }
}

</script>
