<template>
<div>
  <div class="w-10/12 vs-col">
    <div id="page-page-edit">

    <vs-alert color="danger" title="Page Not Found" :active.sync="page_not_found">
      <span>Page record with id: {{ $route.params.pageId }} not found. </span>
      <span>
        <span>Check </span><router-link :to="{name:'page-page-list'}" class="text-inherit underline">All Pages</router-link>
      </span>
    </vs-alert>

    <vx-card v-if="page_data">

      <div slot="no-body" class="tabs-container px-6 pt-6">

        <vs-tabs class="tab-action-btn-fill-conatiner">
          <vs-tab label="Page constructor" icon-pack="feather" icon="icon-grid">
            <div class="tab-text">
              <page-view class="mt-4" :data="page_data" />
            </div>
          </vs-tab>
          <vs-tab label="Informati" icon-pack="feather" icon="icon-info">
            <div class="tab-text">
              <page-metadata class="mt-4" :data="page_data" />
            </div>
          </vs-tab>
        </vs-tabs>

      </div>

    </vx-card>
  </div>
  </div>

  <div class="w-2/12 vs-col">
    <page-settings v-if="page_data" :page_data="page_data" :is_new="true"></page-settings>
  </div>
</div>
</template>

<script>

// Store Module
import moduleCms from '@/store/cms/moduleCms.js'
import PageView  from './PageView.vue'
import PageMetadata  from './PageMetadata.vue'
import PageSettings  from './PageSettings.vue'

export default {
  components: {
    PageView,
    PageMetadata,
    PageSettings
  },
  data () {
    return {
      page_data: null,
      page_not_found: false,
      page_settings: null
    }
  },
  watch: {
  },
  methods: {
    capitalize (str) {
      return str.slice(0, 1).toUpperCase() + str.slice(1, str.length)
    },
    fetch_page_data() {
      this.page_data = {
        name: "",
        url: "",
        id: 0,
        metadata: 
          { title: "", description: "" }
        ,
        visible: 1,
        shortcodes: [
          {
            id: 0,
            parent: null,
            classes: "w-full",
            type: "hero",
            content: null,
            position: 0,
            page_id: 0,
            transitions: {
              hover: "zoom"
            }
          },
          {
            id: 0,
            parent: null,
            classes: "w-full",
            type: "editor",
            content: null,
            position: 1,
            page_id: 0,
          }
        ]
      }
    },
  },
  computed: {
    
  },
  created () {
    if (!moduleCms.isRegistered) {
      this.$store.registerModule('moduleCms', moduleCms)
      moduleCms.isRegistered = true
    }

    this.fetch_page_data()
  }
}

</script>
