<template>
    <vx-card>
        <div>
            <h3>
                Page settings
            </h3>
        </div>
        <div class="py-2 px-1 vs-row">
            <vs-select class="w-full my-4" label="Options" v-model="page_data.visible">
            <vs-select-item value="1" text="Visible"></vs-select-item>
            <vs-select-item value="0" text="Hidden"></vs-select-item>
            </vs-select>
        </div>
        <vs-divider/>
        <div class="vs-row">
            <vs-alert color="rgb(114, 148, 123)" class="row" title="Select page hero image">
            <input type="file" class="hidden" ref="sending_event_input" @change="sending_event" accept="image/*">
            
            <vs-button type="border" class="py-2 px-10" @click="$refs.sending_event_input.click()">Upload</vs-button>

            </vs-alert>
            <div v-if="page_data.shortcodes[0].content" :class="page_data.shortcodes[0].classes" class="vs-row">
            <img :src="'/storage/' + page_data.shortcodes[0].content" class="object-cover w-full" />
            </div>
        </div>
        <div class="vx-col w-full">
            <vs-button class="ml-auto mt-2" @click="save_changes">Save Changes</vs-button>
        </div>
    </vx-card>
</template>
<script>


export default ({
    name: 'page-settings',
    props: {
        page_data: null,
        is_new: false,
    },
    computed: {
        validateForm () {
            return !this.errors.any()
        },
    },
    methods: {
        capitalize (str) {
            return str.slice(0, 1).toUpperCase() + str.slice(1, str.length)
        },
        save_changes () {
            // Loading
            this.$vs.loading()
            /* eslint-disable */
            if (!this.validateForm) return
            if(this.is_new)
            {
                this.$store.dispatch('moduleCms/addPage', this.page_data)
                .then(response => {
                    this.$vs.loading.close()
                    this.$router.push('/admin/cms/pages/edit/'+response.data.id)
                    this.$vs.notify({
                        title: 'Page created',
                        text: 'Page created successfully. You\'re redirected in edit mode.',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success'
                    })
                })
                .catch(error => {
                    this.$vs.loading.close()
                    this.$vs.notify({
                        title: 'Error',
                        text: error.response.data.message,
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger'
                    })
                })
            }
            else
            {
                this.$store.dispatch('moduleCms/editPage', this.page_data)
                .then(() => { 
                    this.$vs.loading.close()
                    this.$vs.notify({
                        title: 'Page edited',
                        text: 'Page edited succesfully',
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'success'
                    })
                })
                .catch(error => {
                    this.$vs.loading.close()
                    this.$vs.notify({
                        title: 'Error',
                        text: error.response.data.message,
                        iconPack: 'feather',
                        icon: 'icon-alert-circle',
                        color: 'danger'
                    })
                })
            }
        },
        sending_event (event) {
            
            // Loading
            this.$vs.loading()
            var photo = event.target.files[0]
            var id = this.page_data.id
            const data = new FormData();
            data.append('photo', photo);
            data.append('id', id);
            this.$store.dispatch('moduleCms/uploadShortcode', data)
            .then((data) => {
                this.page_data.shortcodes[0].content = data.data
                this.fileUploaded = true
                this.$vs.loading.close()
            })
            .catch(error => {
                this.$vs.loading.close()
                this.$vs.notify({
                    title: 'Error',
                    text: error.response.data.message,
                    iconPack: 'feather',
                    icon: 'icon-alert-circle',
                    color: 'danger'
                })
            })
        },
    },
})
</script>>