<template>
<div v-if="page_data">
  <div class="w-10/12 vs-col">
    <div id="page-page-edit">

    <vs-alert color="danger" title="Page Not Found" :active.sync="page_not_found">
      <span>User record with id: {{ $route.params.pageId }} not found. </span>
      <span>
        <span>Check </span><router-link :to="{name:'page-page-list'}" class="text-inherit underline">All Users</router-link>
      </span>
    </vs-alert>

    <vx-card v-if="page_data">

      <div slot="no-body" class="tabs-container px-6 pt-6">

        <vs-tabs class="tab-action-btn-fill-conatiner">
          <vs-tab label="Page constructor" icon-pack="feather" icon="icon-grid">
            <div class="tab-text">
              <page-view class="mt-4" :data="page_data" />
            </div>
          </vs-tab>
          <vs-tab label="Metadata" icon-pack="feather" icon="icon-info">
            <div class="tab-text">
              <page-metadata class="mt-4" :data="page_data" />
            </div>
          </vs-tab>
        </vs-tabs>

      </div>

    </vx-card>
  </div>
  </div>

  <div class="w-2/12 vs-col">
    <page-settings v-if="page_data"  :page_data="page_data" :is_new="false"></page-settings>
  </div>
</div>
</template>

<script>

// Store Module
import moduleCms from '@/store/cms/moduleCms.js'
import PageView  from './PageView.vue'
import PageMetadata  from './PageMetadata.vue'
import PageSettings  from './PageSettings.vue'

export default {
  components: {
    PageView,
    PageMetadata,
    PageSettings
  },
  data () {
    return {
      page_data: null,
      page_not_found: false,
      page_settings: null
    }
  },
  watch: {
    
  },
  methods: {
    capitalize (str) {
      return str.slice(0, 1).toUpperCase() + str.slice(1, str.length)
    },
    
    sending_event (event) {
      var photo = event.target.files[0]
      var id = this.page_data.id
      const data = new FormData();
      data.append('photo', photo);
      data.append('id', id);
      this.$store.dispatch('moduleCms/uploadShortcode', data)
      .then((data) => {
        this.page_data.shortcodes[0].content = data.data
        this.fileUploaded = true
      })
      .catch(error => {
        
      })
    },
  },
  computed: {
    
  },
  created () {
    if (!moduleCms.isRegistered) {
      this.$store.registerModule('moduleCms', moduleCms)
      moduleCms.isRegistered = true
    }
    this.$vs.loading()
    let pageId = this.$route.params.pageId
    this.$store.dispatch('moduleCms/fetchPage', pageId)
      .then(res => { 
        this.page_data = res.data
        this.$vs.loading.close()
      })
      .catch(error => {
        if (error.response.status === 404) {
          this.page_not_found = pageId != 0
          return
        }
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Error',
          text: error.response.data.message,
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger'
        })
      })
  }
}

</script>
