<template>
    <div class="vx-row">
      <div class="vx-col w-full md:w-1/2">

          <vs-input class="w-full mt-4" label="Title" v-model="data.metadata.title" name="meta_title" />
          <vs-input class="w-full mt-4" label="Description" v-model="data.metadata.description" name="meta_description" />
          
      </div>
  </div>
</template>

<script>

export default {
  components: {
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data () {
    return {

    }
  },
  computed: {
    validateForm () {
      return !this.errors.any()
    }
  },
  methods: {
    
  }
}
</script>
