<template>
  <div class="py-2 editor">
    <ckeditor :editor="editor" v-model="data.content" :config="editorConfig"></ckeditor>
  </div>
</template>

<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import UploadAdapter  from './dependencies/uploadadapter.js'

export default {
  name: 'editor',
  props: {
    data: {}
  },
  mounted() {
  },
  data () {
    return {
      editor: ClassicEditor,
      editorConfig: {
        extraPlugins: [
          this.uploader
        ]
      }
    }
  },
  computed: {
    validateForm () {
      return !this.errors.any()
    },
  },
  methods: {
    uploader(editor)
    {
        editor.plugins.get( 'FileRepository' ).createUploadAdapter = ( loader ) => {
            return new UploadAdapter( loader );
        };
    },
  }, 
}
</script>
