<template>
    <div>
        <div class="centerx">
            <vs-button type="line" @click="add_faq()">Add FAQ line</vs-button>
        </div>
        <vs-collapse accordion>
            <vs-collapse-item v-for="(row, index) in data.content" :key="index" class="relative">
                <div slot="header">
                    <vs-input :label-placeholder="'FAQ q. ' + (index + 1)" v-model="row.title"/>
                </div>
                <div class="text-danger shortcode-dropdown" @click="delete_faq(index)">
                    x
                </div>
                <editor :data="row"></editor>
            </vs-collapse-item>
        </vs-collapse>
    </div>
</template>

<script>
import moduleCms from '@/store/cms/moduleCms.js'
import Editor  from './Editor.vue'

export default {
  name: 'faq',
  props: {
    data: {},
  },
  components: {
      Editor,
  },
  
  mounted() {
    
    if (!moduleCms.isRegistered) {
      this.$store.registerModule('moduleCms', moduleCms)
      moduleCms.isRegistered = true
    }
  },
  data () {
    return {
       
    }
  },
  computed: {
    validateForm () {
      return !this.errors.any()
    },
  },
  methods: {
    add_faq(){
        this.data.content.push({
            content: "<p>New FAQ</p>",
            title: ""
        })
    },
    delete_faq(index)
    {
        this.data.content.splice(index, 1)
    }
  }, 
}
</script>
<style lang="scss">
  .shortcode-dropdown{
    position: absolute;
    top:-3px;
    right:-4px;
  }
</style>