<template>
  <div class="py-4 image">
    <!--<vs-select
    class="selectTransition"
      label="Transition"
      v-model="hover"
      @change="hoverTransitionsUpdate"
      >
      <vs-select-item :key="index" :value="item.value" :text="item.text" v-for="(item,index) in hovers" />
    </vs-select>-->

    <vs-alert color="rgb(206, 217, 209)" class="row" title="Select image">
      <input type="file" class="hidden" ref="sending_event_input" @change="sending_event" accept="image/*">

      <vs-button type="border" class="py-2 px-10" @click="$refs.sending_event_input.click()">Upload</vs-button>

    </vs-alert>
    <div v-if="data.content" class="row">
      <img :src="'/storage/' + data.content" class="object-cover w-full" />
    </div>
  </div>
</template>

<script>
import moduleCms from '@/store/cms/moduleCms.js'

export default {
  name: 'sh-image',
  props: {
    data: {},
    single: false
  },
  components: {
  },
  
  mounted() {
    
    if (!moduleCms.isRegistered) {
      this.$store.registerModule('moduleCms', moduleCms)
      moduleCms.isRegistered = true
    }
  },
  data () {
    return {
        hover: 'blur',
        hovers:[
            {text:'Default',value:'default'},
            {text:'Blur',value:'blur'},
            {text:'Zoom',value:'zoom'},
            {text:'Dark',value:'dark'},
            {text:'Scale',value:'scale'},
            {text:'Curtain',value:'curtain'},
        ],
        fileUploaded: false,
        dropzoneOptions: {
          addRemoveLinks: true
        },
    }
  },
  computed: {
    validateForm () {
      return !this.errors.any()
    },
  },
  methods: {
    sending_event (event) {
      var photo = event.target.files[0]
      var id = this.data.id
      const data = new FormData();
      data.append('photo', photo);
      data.append('id', id);
      this.$store.dispatch('moduleCms/uploadShortcode', data)
      .then((data) => {
        this.data.content = data.data
        this.fileUploaded = true
      })
      .catch(error => {
        
      })
      console.log(this.data)
    },
    hoverTransitionsUpdate() {
        this.data.transitions = {
            hover: this.hover
        }
    },
    
  }, 
}
</script>
