<template>
    <draggable :group="{name: 'shortcodes'}" :list="shortcodes" @moved="elementMoved">
        <div v-for="(shortcode, index) in shortcodes" :key="index" class="shortcode-container relative" :class="shortcode.classes">
            <div v-if='shortcode.type=="editor"'>
              <editor :data="shortcode"></editor>
            </div>
            <div v-else-if='shortcode.type=="image"'>
              <sh-image :data="shortcode"></sh-image>
            </div>
            <div v-else-if='shortcode.type=="faq"'>
              <faq :data="shortcode"></faq>
            </div>
            <nested-shortcode 
              v-else-if='shortcode.type=="block" && (typeof shortcode.shortcodes !== "undefined" || shortcode.shortcodes.length > 0)' 
              :shortcodes='shortcode.shortcodes' class="shortcode-block">
            </nested-shortcode>
            
            <div class="shortcode-dropdown" :class="{onBottom: shortcode.parent!=null}">
              <vs-dropdown>
                <vs-button radius color="primary" type="border" icon="more_vert"></vs-button>

                <vs-dropdown-menu>
                  <vs-dropdown-item @click='deleteShortcode(index)'>
                    Delete 
                    <vs-icon class="" icon="delete"></vs-icon>
                  </vs-dropdown-item>
                  <vs-dropdown-item>
                    
                  </vs-dropdown-item>

                  <vs-dropdown-item divider v-if='shortcode.parent!=null' @click='unfoldMore(shortcode)'>
                    <vs-icon class="" icon="unfold_more"></vs-icon>
                    Expand
                  </vs-dropdown-item>
                  <vs-dropdown-item v-if='shortcode.parent!=null' @click='unfoldLess(shortcode)'>
                    <vs-icon class="" icon="unfold_less"></vs-icon>
                    Contract
                  </vs-dropdown-item>
                </vs-dropdown-menu>
              </vs-dropdown>
            </div>
        </div>
    </draggable>
</template>
<script>
import draggable from "vuedraggable";

import moduleCms from '@/store/cms/moduleCms.js'
import Editor  from './Editor.vue'
import Faq  from './Faq.vue'
import ShImage  from './ShImage.vue'
import Shortcode  from './Shortcode.vue'

export default {
  props: {
    shortcodes: {
      required: true,
      type: Array
    },
  },
  data () {
    return {
    }
  },
  components: {
    draggable,
    Editor,
    Shortcode,
    ShImage,
    Faq,
  },
  name: "nested-shortcode",
  methods: {
    deleteShortcode (index) {
      this.shortcodes.splice(index, 1)
    },
    unfoldMore(shortcode){

    },
    unfoldLess(shortcode){

    },
    elementMoved(newIndex, oldIndex, element)
    {
      console.log(newIndex, 'newindex')
      console.log(oldIndex, 'oldindex')
      console.log(element, 'ele')
    }
  },
  computed: {
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
  },
  created () {
    if (!moduleCms.isRegistered) {
      this.$store.registerModule('moduleCms', moduleCms)
      moduleCms.isRegistered = true
    }
  }
};
</script>
<style lang="scss">
  .shortcode-block{
    //min-height: 200px;
    border: 1px dotted #dadada;
    padding: 3px 5px;
    display: flex;
  }
  .shortcode-dropdown{
    position: absolute;
    top:-3px;
    right:-4px;
  }
  .shortcode-dropdown.onBottom{
    bottom:-3px;
    top:auto;
  }
</style>