<template>
    <div>
        
    </div>
</template>

<script>

//import SimpleTable  from './dependencies/vue-simple-table.vue'

export default {
  components: {
    //SimpleTable
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  mounted() {
    console.log(this.data_local)
  },
  data () {
    return {
      data_local: JSON.parse(JSON.stringify(this.data)),
    }
  },
  computed: {
  },
  methods: {
  }
}
</script>
