<template>

  <div id="page-user-list">

    <vx-card ref="filterCard" title="Filters" class="user-list-filters mb-8" actionButtons @refresh="resetColFilters" @remove="resetColFilters">
      <div class="vx-row">
        <div class="vx-col md:w-1/4 sm:w-1/2 w-full">
          <label class="text-sm opacity-75">Role</label>
          <v-select :options="roleOptions" :clearable="false" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-model="roleFilter" class="mb-4 md:mb-0" />
        </div>
        <div class="vx-col md:w-1/4 sm:w-1/2 w-full">
          <label class="text-sm opacity-75">Verified</label>
          <v-select :options="isVerifiedOptions" :clearable="false" :dir="$vs.rtl ? 'rtl' : 'ltr'" v-model="isVerifiedFilter" class="mb-4 sm:mb-0" />
        </div>
      </div>
    </vx-card>

    <div class="vx-card p-6">

      <div class="flex flex-wrap items-center">

        <!-- ITEMS PER PAGE -->
        <div class="flex-grow">
          <vs-button color="success" type="filled" @click='$router.push("/admin/user/create")' v-if="activeUserInfo.permissions.includes('create_user')">Add</vs-button>
          <vs-dropdown vs-trigger-click class="cursor-pointer">
            <div class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
              <span class="mr-2">{{ currentPage * paginationPageSize - (paginationPageSize - 1) }} - {{ usersData.length - currentPage * paginationPageSize > 0 ? currentPage * paginationPageSize : usersData.length }} of {{ usersData.length }}</span>
              <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
            </div>
            <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
            <vs-dropdown-menu>

              <vs-dropdown-item @click="gridApi.paginationSetPageSize(10)">
                <span>10</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(20)">
                <span>20</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(25)">
                <span>25</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(30)">
                <span>30</span>
              </vs-dropdown-item>
            </vs-dropdown-menu>
          </vs-dropdown>
        </div>

        <!-- TABLE ACTION COL-2: SEARCH & EXPORT AS CSV -->
          <vs-input class="sm:mr-4 mr-0 sm:w-auto w-full sm:order-normal order-3 sm:mt-0 mt-4" v-model="searchQuery" @input="updateSearchQuery" placeholder="Search..." />
          <vs-button class="mx-2 mb-4 md:mb-0" @click="gridApi.exportDataAsCsv()">Quick Export</vs-button>

          <!-- ACTION - DROPDOWN -->
          <vs-dropdown vs-trigger-click class="cursor-pointer">

            <div class="p-3 shadow-drop rounded-lg d-theme-dark-light-bg cursor-pointer flex items-end justify-center text-lg font-medium w-32">
              <span class="mr-2 leading-none">Actions</span>
              <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
            </div>

            <vs-dropdown-menu>

              <vs-dropdown-item @click='deleteBulk'>
                <span class="flex items-center">
                  <feather-icon icon="TrashIcon" svgClasses="h-4 w-4" class="mr-2" />
                  <span>Delete</span>
                </span>
              </vs-dropdown-item>


              <vs-dropdown-item @click="exportDataExcel" v-if="gridOptions.api">
                <span class="flex items-center">
                  <feather-icon icon="SaveIcon" svgClasses="h-4 w-4" class="mr-2" />
                  <span>Excel</span>
                </span>
              </vs-dropdown-item>

            </vs-dropdown-menu>
          </vs-dropdown>
      </div>


      <!-- AgGrid Table -->
      <ag-grid-vue
        ref="agGridTable"
        :components="components"
        :gridOptions="gridOptions"
        class="ag-theme-material w-100 my-4 ag-grid-table"
        :columnDefs="columnDefs"
        :defaultColDef="defaultColDef"
        :rowData="usersData"
        rowSelection="multiple"
        colResizeDefault="shift"
        :animateRows="true"
        :floatingFilter="true"
        :pagination="true"
        :paginationPageSize="paginationPageSize"
        :suppressPaginationPanel="true"
        :enableRtl="$vs.rtl">
      </ag-grid-vue>

      <vs-pagination
        :total="totalPages"
        :max="7"
        v-model="currentPage" />

    </div>
    <vs-popup
      v-if="ids!=null" title="Delete bulk" :active.sync="confirmDeleteBulk">
      <p class='mb-2'>
        You're about to delete <b>{{ids.length}}</b> records.
      </p>
      <vs-button color="danger" type="filled"  @click='deleteBulk()'>Delete</vs-button>
      <vs-button color="dark" type="border"  @click='confirmDeleteBulk=!confirmDeleteBulk'>Cancel</vs-button>
      <vs-divider/>
      <vs-list>
        <vs-list-header icon="supervisor_account" title="Selected Users"></vs-list-header>
        <vs-list-item icon="check" :title="'#'+row.id + ' | '+row.name " :subtitle="row.email" v-for="(row, index) in ids" :key="index"></vs-list-item>
      </vs-list>

    </vs-popup>
    <vs-popup
       title="Export CSV" :active.sync="exportModalFlag">
      
      <div class="mt-1 mb-2"  v-if='excelHeaders'>
        <label>Choose columns</label>
        <div class="mt-1">
          <span>
            <vs-checkbox vs-value="all" v-model='selectAllColumn' >All</vs-checkbox>
          </span>
          <span v-for="(value, propertyName, index) in excelHeaders" :key="index" @click='selectAllColumn = false' >
            <vs-checkbox :value="propertyName" v-model="selectedColumns[propertyName]">{{propertyName}}</vs-checkbox>
          </span>
        </div>
      </div>
      <div class="mt-1 mb-2">
        <label>Selection options</label>
        <div class="flex flex-wrap mt-1">
          <vs-radio vs-value="0" v-model="selectionOptions" class="mr-4">All rows</vs-radio>
          <vs-radio vs-value="1" v-model="selectionOptions">Only selected</vs-radio>
        </div>
      </div>
      <div class="mt-1 mb-2">
        <label>Selection format</label>
        <div class="flex flex-wrap mt-1">
          <v-select v-model="csv_format" :clearable="false" :options="csv_formats" v-validate="'required'" />
        </div>
      </div>

      <vs-button color="success" type="filled"  @click='exportDataExcel(false)'>Download</vs-button>
      <vs-button color="success" type="border"  @click='showEmailCsv=!showEmailCsv'>Send email</vs-button>
      <vs-button color="dark" type="border"  @click='exportModalFlag=!exportModalFlag'>Cancel</vs-button>
      <vs-divider/>
      <div class="my-2" v-if='showEmailCsv'>
        <vx-input-group class="mb-base">
          <vs-input v-model="csvEmail" v-validate="'email'" name="csvEmail" />

          <template slot="append">
            <div class="append-text bg-primary cursor-pointer text-sm" @click='exportDataExcel(true)' >
              <span>Send</span>
            </div>
          </template>
        </vx-input-group>
        <span class="text-danger text-sm"  v-show="errors.has('csvEmail')">{{ errors.first('csvEmail') }}</span>

      </div>
    </vs-popup>
  </div>

</template>

<script>
import { AgGridVue } from 'ag-grid-vue'
import '@sass/vuexy/extraComponents/agGridStyleOverride.scss'
import vSelect from 'vue-select'

// Store Module
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'

// Cell Renderer
import CellRendererLink from './cell-renderer/CellRendererLink.vue'
import CellRendererVerified from './cell-renderer/CellRendererVerified.vue'
import CellRendererActions from './cell-renderer/CellRendererActions.vue'
import fileDownload from 'js-file-download';

export default {
  components: {
    AgGridVue,
    vSelect,

    // Cell Renderer
    CellRendererLink,
    CellRendererVerified,
    CellRendererActions
  },
  data () {
    return {

      // Filter Options
      roleFilter: { label: 'All', value: '' },
      roleOptions: [
        { label: 'All', value: '' },
        { label: 'User', value: 'user' },
        { label: 'Manager', value: 'manager' }
      ],

      isVerifiedFilter: { label: 'All', value: '' },
      isVerifiedOptions: [
        { label: 'All', value: '' },
        { label: 'Neverificat', value: 'neverificat' },
        { label: 'Verificat', value: 'verificat' },
      ],

      searchQuery: '',

      // AgGrid
      gridApi: null,
      gridOptions: {},
      defaultColDef: {
        sortable: true,
        resizable: true,
        suppressMenu: true
      },
      columnDefs: [
        {
          headerName: 'ID',
          field: 'id',
          width: 125,
          filter: true,
          checkboxSelection: true,
          headerCheckboxSelectionFilteredOnly: true,
          headerCheckboxSelection: true
        },
        {
          headerName: 'Name',
          field: 'name',
          filter: true,
          width: 210,
          cellRendererFramework: 'CellRendererLink'
        },
        {
          headerName: 'Email',
          field: 'email',
          filter: true,
          width: 225
        },
        {
          headerName: 'Country',
          field: 'country',
          filter: true,
          width: 150
        },
        {
          headerName: 'Role',
          field: 'user_role',
          filter: true,
          width: 150
        },
        {
          headerName: 'Verified',
          field: 'is_verified',
          filter: true,
          width: 125,
          cellRendererFramework: 'CellRendererVerified',
          cellClass: 'text-center'
        },
        {
          headerName: 'Actions',
          field: 'transactions',
          width: 150,
          cellRendererFramework: 'CellRendererActions'
        }
      ],

      // Cell Renderer Components
      components: {
        CellRendererLink,
        CellRendererVerified,
        CellRendererActions
      },
      confirmDeleteBulk: false,
      ids: null,
      exportModalFlag: false,
      selectedColumns: [],
      selectAllColumn: true,
      excelHeaders: {},
      csv_format: 'csv',
      csv_formats: ['csv', 'tsv', 'html'],
      csvEmail: '',
      showEmailCsv: false,
      selectionOptions: 0,
    }
  },
  watch: {
    roleFilter (obj) {
      this.setColumnFilter('user_role', obj.value)
    },
    isVerifiedFilter (obj) {
      this.setColumnFilter('is_verified', obj.value)
    },
    selectAllColumn (val) {
      if (this.gridApi === null) return
      if(val == "all")
      {
        this.setCsvColumns()
      }
      return
    },
    ids (val) {
      console.log(val)
      if(val && this.getSelectedRows().length > 0) {
        this.selectionOptions = 1
      }
      return
    }

  },
  computed: {
    activeUserInfo () {
      this.csvEmail = this.$store.state.AppActiveUser.email
      return this.$store.state.AppActiveUser
    },
    usersData () {
      return this.$store.state.userManagement.users
    },
    paginationPageSize () {
      if (this.gridApi) return this.gridApi.paginationGetPageSize()
      else return 10
    },
    totalPages () {
      if (this.gridApi) return this.gridApi.paginationGetTotalPages()
      else return 0
    },
    currentPage: {
      get () {
        if (this.gridApi) return this.gridApi.paginationGetCurrentPage() + 1
        else return 1
      },
      set (val) {
        this.gridApi.paginationGoToPage(val - 1)
      }
    }
  },
  methods: {
     getSelectedRows() {
        const selectedNodes = this.gridApi.getSelectedNodes();
        const selectedData = selectedNodes.map(node => node.data);
        
        return selectedData
    },
    exportDataExcel(to_email) {
      this.ids = this.getSelectedRows()
      if(!this.exportModalFlag)
      {
        this.exportModalFlag=true
        return
      }
      let request_data = {}
      request_data.to_email = to_email
      request_data.request_email = this.csvEmail
      request_data.csv_format = this.csv_format
      request_data.rows = this.ids
      request_data.columns = this.selectedColumns
      request_data.column_selection = this.selectAllColumn
      request_data.list_name = 'Users'
      request_data.selection_option = this.selectionOptions
      this.$vs.loading()
      this.$http.post(`/api/make-csv`, {data: request_data})
        
        .then((response) => {
          this.$vs.loading.close()
          this.confirmDeleteBulk=false
          if(to_email)
          {
            this.$vs.notify({
              title: 'Success',
              text: response.data.message,
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'warning'
            })
          }
          else
          {
            this.$vs.notify({
              title: 'Success',
              text: this.csv_format+' requested',
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'success'
            })
            let format = this.csv_format
            if(format == 'excel')
            {
              format = 'xlsx';
            }
            fileDownload(response.data, 'user-list.'+format);
          }
        })
        .catch((error) => { 
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Error',
            text: error.response.data.message,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'danger'
          })
        })
      
    },
    setColumnFilter (column, val) {
      const filter = this.gridApi.getFilterInstance(column)
      let modelObj = null

      if (val !== 'all') {
        modelObj = { type: 'equals', filter: val }
      }

      filter.setModel(modelObj)
      this.gridApi.onFilterChanged()
    },
    resetColFilters () {
      // Reset Grid Filter
      this.gridApi.setFilterModel(null)
      this.gridApi.onFilterChanged()

      // Reset Filter Options
      this.roleFilter = this.isVerifiedFilter = { label: 'All', value: 'all' }

      this.$refs.filterCard.removeRefreshAnimation()
    },
    updateSearchQuery (val) {
      this.gridApi.setQuickFilter(val)
    },
    deleteBulk() {
      this.ids = this.getSelectedRows()
      if(!this.confirmDeleteBulk)
      {
        this.confirmDeleteBulk=true
        return
      }
      this.$vs.loading()
      if(this.ids == null){

      }
      this.$store.dispatch('userManagement/deleteBulk', this.ids).then(response=>{
        this.$vs.loading.close()
        this.confirmDeleteBulk=false
        if(response.status != 204)
        {
          this.$vs.notify({
            title: 'Warning',
            text: response.data.message,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'warning'
          })
        }
        else
        {
          this.$vs.notify({
            title: 'Success',
            text: 'Records removed',
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'success'
          })
        }
      }).catch(error => { 
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Error',
          text: error.response.data.message,
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger'
        })
      })
    },
    setCsvColumns(){
      this.$store.dispatch('userManagement/getCsvColumns').then(response=>{
        this.excelHeaders = response.data
        this.selectedColumns = this.excelHeaders
        this.$vs.loading.close()
        console.log(this.excelHeaders)
      }).catch(error => { 
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Error',
          text: error.response.data.message,
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger'
        })
      })
    }
  },
  mounted () {
    this.gridApi = this.gridOptions.api

    /* =================================================================
      NOTE:
      Header is not aligned properly in RTL version of agGrid table.
      However, we given fix to this issue. If you want more robust solution please contact them at gitHub
    ================================================================= */
    if (this.$vs.rtl) {
      const header = this.$refs.agGridTable.$el.querySelector('.ag-header-container')
      header.style.left = `-${  String(Number(header.style.transform.slice(11, -3)) + 9)  }px`
    }
  },
  created () {
    this.$vs.loading()
    if (!moduleUserManagement.isRegistered) {
      this.$store.registerModule('userManagement', moduleUserManagement)
      moduleUserManagement.isRegistered = true
    }
    this.$store.dispatch('userManagement/fetchUsers').then(response=>{
      this.$vs.loading.close()
      this.setCsvColumns()
    }).catch(error => { 
      this.$vs.loading.close()
      this.$vs.notify({
        title: 'Error',
        text: error.response.data.message,
        iconPack: 'feather',
        icon: 'icon-alert-circle',
        color: 'danger'
      })
    })
    
  }
}

</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>
