<template>
  <div id="role-edit-tab-info">
    <vx-card>
      <!-- Content Row -->
      <div class="vx-row">
        <div class="vx-col md:w-1/2 w-full">
          <vs-input class="w-full mt-4" label="Name" v-model="data_local.name" v-validate="'required|alpha_spaces'" name="name" />
          <span class="text-danger text-sm"  v-show="errors.has('name')">{{ errors.first('name') }}</span>
        </div>
      </div>

      <!-- Save & Reset Button -->
      <div class="vx-row" v-if="activeUserInfo.permissions.includes('create_role')">
        <div class="vx-col w-full">
          <div class="mt-8 flex flex-wrap items-center justify-end">
            <vs-button class="ml-auto mt-2" @click="save_changes" :disabled="!validateForm">Save Changes</vs-button>
            <vs-button class="ml-4 mt-2" type="border" color="warning" @click="reset_data">Reset</vs-button>
          </div>
        </div>
      </div>
    </vx-card>
  </div>
</template>

<script>
import vSelect from 'vue-select'

export default {
  components: {
    vSelect
  },
  props: {
  },
  data () {
    return {
      data_local: {
        name: '',
      },
    }
  },
  mounted() {
      console.log(this.data, 'role')
  },
  computed: {
    validateForm () {
      return !this.errors.any()
    },
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
  },
  methods: {
    save_changes () {
      /* eslint-disable */
      if (!this.validateForm) return
      // Loading
      this.$vs.loading()
     this.$store.dispatch('moduleRole/addRole', this.data_local)
      .then(response => { 
        this.$vs.loading.close()
        this.$router.push('/admin/user/roles/edit/'+response.data.id)
      })
      .catch(error => {
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Error',
          text: error.response.data.message,
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger'
        })
      })
    },
    reset_data () {
      this.data_local =  {
        name: '',
      }
    },
  }
}
</script>
