<template>
    <div :style="{'direction': $vs.rtl ? 'rtl' : 'ltr'}">
      <feather-icon icon="Edit3Icon" v-if="activeUserInfo.permissions.includes('edit_role')" svgClasses="h-5 w-5 mr-4 hover:text-primary cursor-pointer" @click="editRecord" />
      <feather-icon icon="Trash2Icon" v-if="activeUserInfo.permissions.includes('delete_role')" svgClasses="h-5 w-5 hover:text-danger cursor-pointer" @click="confirmDeleteRecord" />
    </div>
</template>

<script>
export default {
  name: 'CellRendererActions',
  created() {
    console.log(this.$store.state.AppActiveUser)
  },
  methods: {
    editRecord () {
      this.$router.push(`/admin/user/roles/edit/${this.params.data.id}`).catch(() => {})
    },
    confirmDeleteRecord () {
      this.$vs.dialog({
        type: 'confirm',
        color: 'danger',
        title: 'Confirm Delete',
        text: `You are about to delete "${this.params.data.name}"`,
        accept: this.deleteRecord,
        acceptText: 'Delete'
      })
    },
    deleteRecord () {
      this.$vs.loading()
       this.$store.dispatch("moduleRole/removeRole", this.params.data.id)
         .then(()   => { this.showDeleteSuccess() })
         .catch(error => { 
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Error',
            text: error.response.data.message,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'danger'
          })
        })
    },
    showDeleteSuccess () {
      this.$vs.loading.close()
      this.$vs.notify({
        color: 'success',
        title: 'Role Deleted',
        text: 'The selected role was successfully deleted'
      })
    }
  },
  computed: {
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
  }
}
</script>
