<!-- =========================================================================================
  File Name: UserEditTabInformation.vue
  Description: User Edit Information Tab content
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->

<template>
  <div id="user-edit-tab-info">
    <div class="vx-row">
      <div class="vx-col w-full md:w-1/2">

        <!-- Col Header -->
        <div class="flex items-end">
          <feather-icon icon="UserIcon" class="mr-2" svgClasses="w-5 h-5" />
          <span class="leading-none font-medium">Informati personale</span>
        </div>

        <!-- Col Content -->
        <div>

          <!-- DOB 
          <div class="mt-4">
            <label class="text-sm">Birth Date</label>
            <flat-pickr v-model="data_local.dob" :config="{ dateFormat: 'd F Y', maxDate: new Date() }" class="w-full" v-validate="'required'" name="dob" />
            <span class="text-danger text-sm"  v-show="errors.has('dob')">{{ errors.first('dob') }}</span>
          </div>-->

          <vs-input class="w-full mt-4" label="Telefon" v-model="data_local.phone" v-validate="{regex: '^\\+?([0-9]+)$' }" name="phone" />
          <span class="text-danger text-sm"  v-show="errors.has('phone')">{{ errors.first('phone') }}</span>
          
          <!-- Gender -->
          <div class="mt-4">
            <label class="text-sm">Sex</label>
            <div class="mt-2">
              <vs-radio v-model="data_local.gender" vs-value="0" class="mr-4">Masculin</vs-radio>
              <vs-radio v-model="data_local.gender" vs-value="1" class="mr-4">Feminin</vs-radio>
            </div>
          </div>

          <vs-input class="w-full mt-4" label="IBAN" v-model="data_local.iban" name="iban" data-vv-as="field" />
          <span class="text-danger text-sm"  v-show="errors.has('iban')">{{ errors.first('iban') }}</span>

          <vs-input class="w-full mt-4" label="Banca" v-model="data_local.bank" name="bank" data-vv-as="field" />
          <span class="text-danger text-sm"  v-show="errors.has('bank')">{{ errors.first('bank') }}</span>

          <div class="mt-6">
            <label>Preferinte Contact</label>
            <div class="flex flex-wrap mt-1">
            <vs-checkbox v-model="data_local.contact_options" vs-value="email" class="mr-4 mb-2">Email</vs-checkbox>
            <vs-checkbox v-model="data_local.contact_options" vs-value="message" class="mr-4 mb-2">Message</vs-checkbox>
            <vs-checkbox v-model="data_local.contact_options" vs-value="phone" class=" mb-2">Phone</vs-checkbox>
            </div>
          </div>

        </div>
      </div>

      <!-- Address Col -->
      <div class="vx-col w-full md:w-1/2">

          <!-- Col Header -->
          <div class="flex items-end md:mt-0 mt-base">
            <feather-icon icon="MapPinIcon" class="mr-2" svgClasses="w-5 h-5" />
            <span class="leading-none font-medium">Adresa</span>
          </div>

          <!-- Col Content -->
          <div>
            <vs-input class="w-full mt-4" label="Tara" v-model="data_local.country" name="country" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('country')">{{ errors.first('country') }}</span>

            <vs-input class="w-full mt-4" label="Judet" v-model="data_local.region" name="region" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('region')">{{ errors.first('region') }}</span>

            <vs-input class="w-full mt-4" label="Oras" v-model="data_local.city" name="city" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('city')">{{ errors.first('city') }}</span>

            <vs-input class="w-full mt-4" label="Adresa" v-model="data_local.address" name="address" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('address')">{{ errors.first('address') }}</span>

            <vs-input class="w-full mt-4" label="Adresa 2" v-model="data_local.address_alt" name="address_alt" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('address_alt')">{{ errors.first('address_alt') }}</span>

          </div>
      </div>

      <div class="vx-col w-full md:w-1/2 mt-6">

          <!-- Col Header -->
          <div class="flex items-end md:mt-0 mt-base">
            <feather-icon icon="UserPlusIcon" class="mr-2" svgClasses="w-5 h-5" />
            <span class="leading-none font-medium">Informati Firma</span>
          </div>

          <!-- Col Content -->
          <div>
            <vs-input class="w-full mt-4" label="Nume Firma" v-model="data_local.business_name" name="business_name" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('business_name')">{{ errors.first('business_name') }}</span>

            <vs-input class="w-full mt-4" label="Nr Reg Comertului" v-model="data_local.commerce_no" name="commerce_no" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('commerce_no')">{{ errors.first('commerce_no') }}</span>

            <vs-input class="w-full mt-4" label="Cif/Cui" v-model="data_local.cui" name="cui" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('cui')">{{ errors.first('cui') }}</span>

            <vs-input class="w-full mt-4" label="Website" v-model="data_local.website" v-validate="'url:require_protocol'" name="website" data-vv-as="field" />
            <span class="text-danger text-sm"  v-show="errors.has('website')">{{ errors.first('website') }}</span>
          </div>
      </div>
    </div>

    <!-- Save & Reset Button -->
    <div class="vx-row">
      <div class="vx-col w-full">
        <div class="mt-8 flex flex-wrap items-center justify-end">
          <vs-button class="ml-auto mt-2" @click="save_changes" :disabled="!validateForm">Save Changes</vs-button>
          <vs-button class="ml-4 mt-2" type="border" color="warning" @click="reset_data">Reset</vs-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import vSelect from 'vue-select'

export default {
  components: {
    vSelect,
    flatPickr
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data () {
    return {

      data_local: JSON.parse(JSON.stringify(this.data)),

      langOptions: [
        { label: 'English',  value: 'english'  },
        { label: 'Spanish',  value: 'spanish'  },
        { label: 'French',   value: 'french'   },
        { label: 'Russian',  value: 'russian'  },
        { label: 'German',   value: 'german'   },
        { label: 'Arabic',   value: 'arabic'   },
        { label: 'Sanskrit', value: 'sanskrit' }
      ]
    }
  },
  computed: {
    validateForm () {
      return !this.errors.any()
    }
  },
  methods: {
    save_changes () {
      /* eslint-disable */
      if (!this.validateForm) return
      // Loading
      this.$vs.loading()
      // Here will go your API call for updating data
      // You can get data in "this.data_local"
      this.$store.dispatch('userManagement/editProfile', this.data_local)
        .then(() => { 
          this.$vs.loading.close()
        })
        .catch(error => {
          this.$vs.loading.close()
          this.$vs.notify({
            title: 'Error',
            text: error.response.data.message,
            iconPack: 'feather',
            icon: 'icon-alert-circle',
            color: 'danger'
          })
        })

      /* eslint-enable */
    },
    reset_data () {
      this.data_local = Object.assign({}, this.data)
    }
  }
}
</script>
