<template>

  <div id="page-menu-list" class="w-full">
    <div class="vs-col w-5/12">
      <vx-card>
        <vs-list>
          <vs-list-header icon-pack="feather" icon="icon-plus" title="Create menu"></vs-list-header>

          <vs-input label-placeholder="Menu name" class="w-full" v-model="menu_name"/>
          <vs-input label-placeholder="url" class="w-full" v-model="menu_url"/>
          <vs-checkbox v-model="menu_blank">Open in new tab</vs-checkbox>
          <vs-button color="primary" class="mt-2" type="filled" @click='add_menu()'>Add</vs-button>
        </vs-list>
        <vs-divider />
        <vs-list>
          <vs-list-header icon-pack="feather" icon="icon-grid" title="or add from Pages"></vs-list-header>
          <draggable :group="{ name: 'pages', pull: 'clone', put: false }" :list="local_pages" @end="resolve_menus">
            <vs-list-item class="item" :title="page.name" :subtitle="page.url" v-for="(page, index) in local_pages" :key="index">
              <div class="flex right">
                <vs-button color="warning" @click='$router.push("/admin/cms/pages/edit/"+page.id)' v-if="activeUserInfo.permissions.includes('edit_page')" icon="create"></vs-button>
              </div>
            </vs-list-item> 
          </draggable>
        </vs-list>
      </vx-card>
    </div>
    <div class="vs-col w-7/12">
      <vx-card calss="vs-row">
          <div class="col">
            <nested-draggable :menus="local_menus_header" type="header"></nested-draggable>
          </div>
          <div class="col">
            <nested-draggable :menus="local_menus_footer" type="footer"></nested-draggable>
          </div>
      </vx-card>
      <div class="vx-row w-full" v-if="activeUserInfo.permissions.includes('manage_menus')">
        <vs-button class="ml-auto mt-2" @click="save_changes">Save Changes</vs-button>
      </div>
    </div>

  </div>

</template>

<script>

import moduleCms from '@/store/cms/moduleCms.js'
import draggable from 'vuedraggable'
import NestedDraggable from './nested/NestedMenus.vue'

export default {
  components: {
    draggable,
    NestedDraggable
  },
  data () {
    return {
     drag_data: [],
     selectedMenu: {},
     popUpDeleteMenu: false,
     popUpVisibilityMenu: false,
     local_pages: [],
     local_menus_header: [],
     local_menus_footer: [],
     menu_name: "",
     menu_url: "",
     menu_blank: false,
    }
  },
  watch: {
  },
  computed: {
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    }
  },
  methods: {
    add_menu(){
      this.$vs.loading()
      let item = {name: this.menu_name, url: this.menu_url, blank: this.menu_blank}
      this.$store.dispatch('moduleCms/addMenu', item).then(()=>{
        // Loading

        //this.$vs.loading.close()
        this.$vs.notify({
          title: 'Success',
          text: "Menu added",
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'success'
        })
        this.fetch_menus()
      }).catch(error => {
        this.$vs.notify({
          title: 'Error',
          text: error.response.data.message,
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger'
        })
        this.$vs.loading.close()
      })
    },
    save_changes() {
      // Loading
      this.$vs.loading()
      let data = [];
      this.local_menus_header.forEach(element => {
        element.type = 'header'

        data.push(element)
      });
      this.local_menus_footer.forEach(element => {
        element.type = 'footer'
        data.push(element)
      });
      this.$store.dispatch('moduleCms/arrangeMenus', data).then(()=>{
        // Loading
        this.$vs.loading.close()
        this.popUpVisibilityMenu = false;
        this.$vs.notify({
          title: 'Success',
          text: "Menus arrangament saved",
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'success'
        })
        this.fetch_menus()
      }).catch(error => {
        this.$vs.notify({
          title: 'Error',
          text: error.response.data.message,
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger'
        })
        this.$vs.loading.close()
      })
    },
    resolve_menus(){
      if(typeof this.local_menus_header != "undefined" && this.local_menus_header.length > 0)
      {
        this.local_menus_header = this.local_menus_header.filter(x => x.type != "placeholder")
        this.local_menus_header.forEach(element => {
          if(typeof element.siblings != "undefined" && element.siblings.length > 0)
          {
            element.siblings.forEach(sibling => {
              delete sibling.siblings
            });
          }
        });
      }
      else
      {
        this.local_menus_header = []
      }
      console.log(this.local_menus_header, "mh")
      if(typeof this.local_menus_footer != "undefined" && this.local_menus_footer.length > 0)
      {
        this.local_menus_footer = this.local_menus_footer.filter(x => x.type != "placeholder")
        this.local_menus_footer.forEach(element => {
          if(typeof element.siblings != "undefined" && element.siblings.length > 0)
          {
            element.siblings.forEach(sibling => {
              delete sibling.siblings
            });
          }
        });
      }
      else
      {
        this.local_menus_footer = []
      }
    },
    fetch_menus() {
      this.$store.dispatch('moduleCms/fetchMenus').then( () => {
        this.local_menus_header = this.$store.state.moduleCms.menus.header
        this.local_menus_footer = this.$store.state.moduleCms.menus.footer
        console.log(this.local_menus_header)
        this.resolve_menus()

        this.$vs.loading.close()
      }).catch(error => { 
        this.$vs.loading.close()
        this.$vs.notify({
          title: 'Error',
          text: error.response.data.message,
          iconPack: 'feather',
          icon: 'icon-alert-circle',
          color: 'danger'
        })
      })
    }
  },
  created () {
    this.$vs.loading()
    if (!moduleCms.isRegistered) {
      this.$store.registerModule('moduleCms', moduleCms)
      moduleCms.isRegistered = true
    }
    this.$store.dispatch('moduleCms/fetchPages').then( () => {
      this.local_pages = this.$store.state.moduleCms.pages
      this.$vs.loading.close()
    }).catch(error => { 
      console.log(error, 'funk')
      this.$vs.loading.close()
      this.$vs.notify({
        title: 'Error',
        text: error.response.data.message,
        iconPack: 'feather',
        icon: 'icon-alert-circle',
        color: 'danger'
      })
     })
    this.fetch_menus()
  }
}

</script>

<style lang="scss">
  .placeholder{
    font-size: 11px;
    padding: 2px;
  }
  .vs-list .vs-list{
    margin-left: 12px;
    background: #eaeaea;
  }
</style>
