body {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
}

.pagina_simpla {
    h1 {
        color: #040707;
        font-size: 20px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 35px;
        font-family: 'Exo 2', sans-serif;
        font-weight:700;
        letter-spacing:1.2px;
        text-transform:uppercase;
        margin-bottom:30px;
        display:block;
        width:100%;
    }
}

.contact-formular, .castiga-first-login{
	background:#f7f5f5;
    position:relative;
    padding:25px 0px;
    margin: 40px 0px;
}

.login-shortcuts{
    margin-top:35px;
    a{
        background:#f7f5f5;
        display:block;
        text-decoration:none;
        padding:35px 0px;
        text-align:center;
        transition:all 300ms ease;
        svg{
            fill:#333;
            width:24px;
            vertical-align:middle;
            display:inline-block;
            margin-right:10px;
        }
        &:hover{
            background:#333;
            svg{
                fill:#f7f5f5;
            }
            .login-shortcuts-tit, .login-shortcuts-txt{
                color:#f7f5f5;
            }
        }
    }
    .login-shortcuts-content{
        display:inline-block;
        vertical-align:middle;
        text-align:left;
    }
    .login-shortcuts-tit, .login-shortcuts-txt{
        display:block;
    }
    .login-shortcuts-tit{
        color:#333;
        font-size:13px;
        font-weight:700;
        text-transform:uppercase;
    }
    .login-shortcuts-txt{
        color:#000;
        font-size:13px;
    }
}

.formular {
    
    label {
        color:#646464;
        font-size:14px;
        font-weight:700;
        text-transform:uppercase;
        display:block;
        width:100%;
    }
    .fa {
        left: 12px;
        top: 18px;
        color: #646464;
        font-size: 20px;
    }

    .isFocus {
        label {
            color: #de550f !important;
        }
        .fa {
            color: #de550f !important;
        }
    }

    .eroare{
        color:#fff;
        background:#ff0000;
        padding:5px;
    }

    input[type=text], input[type=password], input[type=email]{
        display:block;
        width:100%;
        margin-top:5px;
        font-size:13px;
        font-weight:300;
        border:none !important;
        border-radius: 0;
        height:45px;
	    padding:0px 5px;
    }

    textarea {
        display:block;
        width:100%;
        margin-top:5px;
        font-size:13px;
        font-weight:300;
        border:none !important;
        resize:vertical;
	    padding:5px;
    }

    .smart-select {
        .v-select {
            .vs__dropdown-toggle{
                background: #fff;
                margin-top:5px;
                font-size:13px;
                font-weight:300;
                border:none !important;
                border-radius: 0;
                height:45px;
                padding:0px 5px;
            }
        }
        margin-top: 25px;
    }

    input[type=checkbox]{
        width:15px;
        height:15px;
        vertical-align:middle;
        background:#fff;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        position: relative;
        display:inline-block;
        float:left;
    }

    input[type="checkbox"]:checked{
        background:#de550f;
    }

    .formular-entry{
        &:first {
            margin-top: 0;
        }
        margin-top:25px;
    }

    .formular-entry-box {
        label {
            font-weight:300;
            text-transform:initial;
            vertical-align:middle;
            span {
                display:inline-block;
                max-width:90%;
                float:left;
                margin-left:10px;
            }
        }
        a {
            color:#000;
        }
    }

    .btn-executa, .btn-executa2, .btn-executa3 {
        color:#f7f5f5;
        font-family: 'Lato', sans-serif;
        font-size:14px;
        font-weight:700;
        display:block;
        width:100%;
        border:none;
        text-transform:uppercase;
        text-decoration:none;
        text-align:center;
        transition:all 300ms ease;
        cursor:pointer;
        padding:20px 0px;
        &:hover {
            background:#de550f;
        }
    }
    
    .btn-executa{
        background:#000;
    }

    .btn-executa2{
        background:#646464;
    }

    .btn-executa3{
        background:#ff0000;
    }
}

.formular-help {
    a{
        color:#646464;
        font-size:13px;
        font-weight:700;
        text-align:center;
        text-decoration:none;
        margin:0 auto;
        margin-top:30px;
        display:table;
    }
    &:hover{
        text-decoration:underline;
    }
}

.checkbox-container{
	position:absolute;
	display:inline-block;
	margin:20px;
	width:13px;
	height:13px;
	overflow:hidden;
}

.formular-msg-eroare{
	width:100%;
	font-size:13px;
	font-weight:300;
	text-transform:initial;
	letter-spacing:0.8px;
}

/* user */
.index-user-titlu{
	text-align:center;
    margin-bottom:55px;
    img {
        width:48px;
    }
    h1{
        font-family: 'Exo 2', sans-serif;
        font-size:20px;
        font-weight:700;
        text-transform:uppercase;
        span{
            display:block;
            font-size:16px;
            text-transform:initial;
            margin-top:10px;
        }
    }
}

.index-first-login {
	text-align:center;
	margin-top:55px;
    margin-bottom:55px;
    h1{
        font-family: 'Exo 2', sans-serif;
        font-size:20px;
        font-weight:700;
        text-transform:uppercase;
        span{
            display:block;
            font-size:16px;
            text-transform:initial;
            margin-top:10px;
        }
    }
}

.index-user-shortcuts{
	margin-bottom:45px;
}

.index-user-shortcuts-entry{
    margin-bottom:30px;
    a{
        color:#646464;
        background:#f7f5f5;
        display:block;
        font-size:11px;
        font-weight:700;
        text-transform:uppercase;
        text-decoration:none;
        padding:20px 0px;
        transition:all 300ms ease;
        vertical-align:middle;
        padding:20px 20px;
        &:hover{
            color:#f7f5f5;
            background:#646464;
            svg{
                fill:#f7f5f5;
            }
            .menu-listing-user-tit, .menu-listing-user-txt{
                color: #f7f5f5;
            }
        }
    }
    svg{
        fill:#646464;
        width:24px;
        vertical-align:middle;
        margin-right:8px;
        transition:all 300ms ease;
    }
    img{
        width:24px;
        height:24px;
        vertical-align:middle;
        margin-right:8px;
    }
}
.menu-listing-user-r{
	display:inline-block;
	vertical-align:middle;
	width:84%;
}

.menu-listing-user-tit{
	color:#000;
	font-weight:700;
	display:block;
}

.menu-listing-user-txt{
	color:#646464;
	font-weight:400;
}