<template>
  <div class="flex items-center">
    <router-link :to="url" @click.stop.prevent class="text-inherit hover:text-primary"  v-if="activeUserInfo.permissions.includes('edit_page')">{{ params.value }}</router-link>
    <p class="text-inherit hover:text-primary" v-else>{{ params.value }}</p>
  </div>
</template>

<script>
export default {
  name: 'CellRendererLink',
  computed: {
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
    url () {
      return '/admin/cms/pages/edit/'+this.params.data.id
      // Below line will be for actual product
      // Currently it's commented due to demo purpose - Above url is for demo purpose
      // return "/apps/user/user-view/" + this.params.data.id
    }
  }
}
</script>
