<template>
    <div :style="{'direction': $vs.rtl ? 'rtl' : 'ltr'}">
      <feather-icon icon="Edit3Icon" v-if="activeUserInfo.permissions.includes('edit_page')" svgClasses="h-5 w-5 mr-4 hover:text-primary cursor-pointer" @click="editRecord" />
      <feather-icon icon="Trash2Icon" v-if="activeUserInfo.permissions.includes('delete_page')" svgClasses="h-5 w-5 hover:text-danger cursor-pointer" @click="confirmDeleteRecord" />
    </div>
</template>

<script>
export default {
  name: 'CellRendererActions',
  methods: {
    editRecord () {
      this.$router.push(`/admin/cms/pages/edit/${this.params.data.id}`).catch(() => {})
    },
    confirmDeleteRecord () {
      this.$vs.dialog({
        type: 'confirm',
        color: 'danger',
        title: 'Confirm Delete',
        text: `You are about to delete "${this.params.data.name}"`,
        accept: this.deleteRecord,
        acceptText: 'Delete'
      })
    },
    deleteRecord () {
       this.$store.dispatch("moduleCms/removePage", this.params.data.id)
         .then(response   => { this.showDeleteSuccess() })
         .catch(error => { 
           console.log(error)
           this.$vs.notify({
              title: 'Error',
              text: error.response.data.message,
              iconPack: 'feather',
              icon: 'icon-alert-circle',
              color: 'danger'
            })
        })
    },
    showDeleteSuccess () {
      this.$vs.notify({
        color: 'success',
        title: 'Page Deleted',
        text: 'The selected page was successfully deleted',
        iconPack: 'feather',
        icon: 'icon-alert-circle',
      })
    }
  },
  computed: {
    activeUserInfo () {
      return this.$store.state.AppActiveUser
    },
  }
}
</script>
