<template functional>
    <footer class="the-footer flex-wrap justify-between" :class="classes">
      <div class="flex flex-col">
        <router-link tag="div" :to="menu.url" class="vx-logo cursor-pointer mx-auto flex items-center" v-for="(menu, index) in menus" :key="index">
          {{menu.name}}
        </router-link>
      </div>

        <p>
          <span>COPYRIGHT &copy;</span>
          <span>{{ new Date().getFullYear() }} </span>
        </p>
    </footer>
</template>

<script>

export default {
  name: 'the-footer',
  props: {
    menus: {
      type: Array
    }
  },
  created() {
  }
}
</script>
