<!-- =========================================================================================
  File Name: TheNavbar.vue
  Description: Navbar component
  Component Name: TheNavbar
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: Pixinvent
  Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
<div class="relative">
  <div class="vx-navbar-wrapper navbar-full p-0">
    <vs-navbar class="navbar-custom navbar-skelton">
      <div class="mr-6">
        <logo></logo>
      </div>

      <vs-navbar-item  v-for="(menu, index) in menus" :key="index" class="mx-2" >
        <div v-if='menu.siblings.length == 0'>
          <a :href="menu.url" v-if="menu.url" :target="targetType(menu.target_type)" class="cursor-pointer mx-auto" >
            {{menu.name}}
          </a>
          <router-link v-else-if="menu.page" tag="div" :to="'/'+menu.page.url" class="cursor-pointer mx-auto" >
            {{menu.name}}
          </router-link>
          <p class="mx-auto" v-else>{{menu.name}}</p>
        </div>
        <div v-else>

          <vs-dropdown @click="goTo(menu.url, menu.target_type)" v-if="menu.url">
            <div class="cursor-pointer mx-autor text-md" >
              {{menu.name}}
              <vs-icon class="" icon="expand_more"></vs-icon>
            </div>

            <vs-dropdown-menu>
              <vs-dropdown-item v-for="(submenu, subindex) in menu.siblings" :key="subindex">
                <a :href="submenu.url" v-if="submenu.url" :target="targetType(submenu.target_type)" class="cursor-pointer mx-auto" >
                  {{submenu.name}}
                </a>
                <router-link v-else-if="submenu.page" tag="div" :to="'/'+submenu.page.url" class="cursor-pointer mx-auto" >
                  {{submenu.name}}
                </router-link>
                <p class="mx-auto" v-else>{{submenu.name}}</p>
              </vs-dropdown-item>
            </vs-dropdown-menu>
          </vs-dropdown>
          <vs-dropdown @click="$router.push('/'+menu.page.url)" v-else-if="menu.page">
            <div class="cursor-pointer mx-autor text-md" >
              {{menu.name}}
              <vs-icon class="" icon="expand_more"></vs-icon>
            </div>
            <vs-dropdown-menu>
              <vs-dropdown-item v-for="(submenu, subindex) in menu.siblings" :key="subindex">
                <a :href="submenu.url" v-if="submenu.url" :target="targetType(submenu.target_type)" class="cursor-pointer mx-auto" >
                  {{submenu.name}}
                </a>
                <router-link v-else-if="submenu.page" tag="div" :to="'/'+submenu.page.url" class="cursor-pointer mx-auto" >
                  {{submenu.name}}
                </router-link>
                <p class="mx-auto" v-else>{{submenu.name}}</p>
              </vs-dropdown-item>
            </vs-dropdown-menu>
          </vs-dropdown>
          <vs-dropdown v-else>
            <div class="cursor-pointer mx-autor text-md" >
              {{menu.name}}
              <vs-icon class="" icon="expand_more"></vs-icon>
            </div>

            <vs-dropdown-menu>
              <vs-dropdown-item v-for="(submenu, subindex) in menu.siblings" :key="subindex">
                <a :href="submenu.url" :target="targetType(submenu.target_type)" v-if="submenu.url" class="cursor-pointer mx-auto" >
                  {{submenu.name}}
                </a>
                <router-link v-else-if="submenu.page" tag="div" :to="'/'+submenu.page.url" class="cursor-pointer mx-auto" >
                  {{submenu.name}}
                </router-link>
                <p class="mx-auto" v-else>{{submenu.name}}</p>
              </vs-dropdown-item>
            </vs-dropdown-menu>
          </vs-dropdown>
        </div>
      </vs-navbar-item>

      <vs-spacer />

      <notification-drop-down />

      <profile-drop-down />

    </vs-navbar>
  </div>
</div>
</template>

<script>
import NotificationDropDown from './NotificationDropDown.vue'
import ProfileDropDown      from './ProfileDropDown.vue'
import Logo                 from './Logo.vue'

export default {
  name: 'the-navbar-horizontal',
  props: {
    navbarType: {
      type: String,
      required: true
    },
    menus: {
      type: Array
    }
  },
  components: {
    NotificationDropDown,
    ProfileDropDown,
    Logo,
  },
  computed: {
    scrollY ()              { return this.$store.state.scrollY },
    windowWidth ()          { return this.$store.state.windowWidth }
  },
  methods: {
    goTo(url, type)
    {
      window.open(url, this.targetType(type))
    },
    targetType(type)
    {
      return type ? "_blank" : "_self" 
    }
  }
}

</script>

